[2009-04-17 17:33] teejayvanslyke opened #1 "Behavior when subclassing"
I'm glad to be the first one to file an AASM issue in this stellar new tracking tool ;-)

Let's say I have the following classes defined:

[code]

Now, I should assume that since FighterPlane is a subclass of Airplane, FighterPlane would have all of Airplane's states as well as its own defined states, such that calling <code>FighterPlane.aasm_states</code> would yield the following results:

[code

[2009-04-25 20:27] jaryl opened #2 "State transitions do not persist to DB in ActiveRecord models"
foo.bar! does not persist to the database due to a failed validation. The documentation for the WriteState::aasm_write_state method indicates that update_attribute is being used to bypass validation, but this is not the case.

After calling write_attribute, save is being called to persist the changes. Since save does validation, this breaks the design of state transitions in AASM.

A proposed fix

[2009-06-22 13:59] jamesarosen opened #3 "State transitions fire and return true but do nothing"
I have a class:

[code]

This works:

[code]

But this doesn't do anything:

[code]

[2009-07-28 03:12] alec-c4 opened #4 "State machines does not working in STI models"
Hi, the problem i've described in subj. Possible - it may be solution - http://github.com/railsbob/aasm/commit/faa145834614bd9d4a02f8c114fc736d26e1323e

[2009-08-02 22:48] mrjoshuak opened #5 "Need 'after' call back"
I need an 'after' call back just like acts_as_state_machine. It is posable that a callback may need to transition to a new state, currently that isn't posable since the state transition hasn't completed yet when the 'enter' callback is called.  This might happen for example when you call a pay! action, and may end up with a 'cleared' or 'decline' state.

[2009-08-02 23:01] mrjoshuak opened #6 "aasm fails tests"
aasm_column :state
  aasm_initial_state :pending
  aasm_state :pending
  aasm_state :current, :enter => :deliver
  aasm_state :old, :enter => :end_now

  aasm_event :activate do
    transitions :from => :pending, :to => :current
  end

  aasm_event :expire do
    transitions :from => :current, :to => :old
  end

-------------- RSpec:

  it "should transition from pending to current with activate!

[2009-08-08 13:39] #1 closed, assigned to nobody

[2009-08-25 05:29] avramd opened #7 "potential stack overflow"
Hello,

I don't actually know that much about AASM, but it's part of a project I'm involved in that I wanted to graph using railroad. Unfortunately, railroad crashes when it processes AASM - but it appears to be due to a bug in AASM. There seem to be lots of people wanting to do something similar. I believe I've identified the problem, and a solution that at least fixes the railroad crash, so I th

[2009-08-27 23:19] ghost opened #8 "Dynamically load states?"
Hi,

I have an app that uses a form-wizard that allows you to go forwards/backawards to form pages. The logic to keep up with the current page is a bit clunky and it sounds like aasm might be a good improvement. I would use a form page as a 'state', then use aasm to track what the next/previous pages are.

However, admin users can create form pages dynamically and these get stored in the database

[2009-09-19 21:07] lazzarello opened #9 "no gem named rubist-aasm on github"
$ gem install rubist-aasm --source http://gems.github.com
ERROR:  could not find gem rubist-aasm locally or in a repository

[2009-09-20 00:50] #9 closed, assigned to nobody

[2009-10-01 20:19] bwalding opened #10 "on_entry not called for initial state"
Is it intentional that the :enter method is not called for the initial state?
(i.e. if this is intentional, let me know and I'll update the README)

e.g. with the following AASM definition, the do_create is not called on the initial creation of the object.

[code]

[2009-10-06 22:29] twalpole opened #11 "on_transition method call requires extra parameter"
When using the :on_transition option to transitions argument passing requires an extra parameter

aasm_event :something do

   transitions :from=>:state1, :to=>:state2, :on_transition=>:foo

end

def foo(a,b)
  ......
end

In this case for foo to be called with a=1 and b=2 when the transition occurs we need to call
something(nil,1,2) or something(:state2,1,2)  -  This is because the first paramete

[2009-10-09 14:14] unigate opened #12 "The callback chain description should be corrected"
Please, change in README.rdoc
oldstate:after_enter
to
newstate:after_enter

[2010-01-20 05:35] junaid opened #13 "Can we pass parameter into AASM states events."

[2010-01-20 05:40] junaid opened #14 "pass parameter into AASM states events."
We have a model like given below and we want to pass comments like this sitestatus.close('site is not working'). How much effort is required to add this feature of passing parameters into state-machine events. Thanks. Junaid
class SiteStatus < ActiveRecord::Base

  include AASM

  aasm_column :status
  aasm_initial_state :open

  # States
  aasm_state :open
  aasm_state :replied
  aasm_state :clos

[2010-01-21 12:52] khelal opened #15 "Hooking Observers with Events"
Hi,

We are using AASM in quite a few of our models, but we're looking at simplifying a bit the models. One of the things we'd like to do is to move all the Notification stuff out of the models and into Observers.

So considering:

[code]

I've tried this, but with no luck:

[code]

How can I move the :notify_closed to an Observer?

Thx!

.Karim

[2010-01-23 16:40] jensb opened #16 "Test whether a event would be successful?"
Hello,

I am using AASM for a user applicaition and in the views, I would like to offer buttons / options which would change the state of a model only when this transition would be successful.

E.g. (model):
- aasm_event :remember

(view):
- <% if @object.can_fire(:remember) %> <%= link_to "Remember", whatever_path %> <% end %>

Since the transitions for this event are rather numerous and complex,

[2010-02-12 13:32] bterkuile opened #17 "aasm_states_for_select ignores aasm_initial_state"
When Amodel.new is invoked the aasm state is not set yet. An ugly solution for this is to put the initial_state to the top of the array:

[code]

[2010-05-05 17:44] francois opened #18 "No database transaction wraps the state transition"
Calling #delete! does not wrap a real database transaction around the transition. This is a problem if you have :on_transition callbacks to do real work, such as change the state of other entities. Having a problem deep down won't rollback the whole transition.

A partial solution is to manually wrap (in the controller or model) the state transition, but this is inconsistent, prone to error, and e

[2010-05-21 17:56] fooledbyprimes opened #19 "problem with name of an aasm_state"
So, if one of my states is named as

aasm_state :valid

then when I call a transition method with the bang sign then I get validation errors.   I'm not sure why... Shouldn't I be able to call one of my states "valid" ??  This smells like a bug.   I'm using Rails 3... there are no methods called "valid" in Rails nor are there any Ruby keywords called "valid".

[2010-06-16 19:43] #16 closed, assigned to nobody

[2010-07-06 17:35] cheolhom opened #20 "undefined method `before_validation_on_create'"
doesn't exist in rails 3.

need to replace before_validation_on_create  with before_validation

[2010-07-14 03:54] bikashp opened #21 "Calling event on array of objects"
Is it possible to do this?
topic has_many posts
@topic.posts.publish!

[2010-08-12 09:06] shyamkkhadka opened #22 "Corrected in source code but not compiled in gem"
It seemed that the code is changed on line #53 inside active_record_persistence.rb file, to make it Rails (3.0 rc) compatible, for method before_validation_on_create.
But when I installed gem, the code wasn't changed.
Later on, I found that it is changed in source code only. It will be definitely useful to others, saving lots of time googling for this as I did if you compile the changes in gem.

[2010-09-18 07:17] onknows opened #23 "Undefined method 'aasm_column' in seeds.rb"
If AASM model files are used in seeds.rb it doesn't work. it shows the message "undefined method `aasm_column' for
-- aasm_column(:state)
rake aborted!
undefined method`aasm_column' for #ActiveRecord::ConnectionAdapters::MysqlAdapter:0xb6ed0268

I'm using aasm (2.1.5) with Rails 2.3.5

[2010-09-18 17:58] #23 closed, assigned to nobody

[2010-12-01 23:58] chrisbutlerccc opened #26 "AASM transition guards, object.send and update_attributes in a Ruby on Rails model/controller"
We are using the AASM gem to attach state to a particular model.

There are a good number of transitions for one state and rather than have a huge switch block we are taking the event that is passed in and using object.send in the model like so:

def event=(event_name)
self.send("#{event_name}!")
end

For one of the transitions we have added a :guard clause that returns false and attempts to add a

[2011-03-01 07:26] akatz opened #29 "Importing records, a way to ignore initial state"
I wrote a bulk uploader importing existing data in csv form. Unfortunately the state is reset regardless of the state on import. Is there any way to ignore set_initial_state so I can import existing data?

[2011-03-10 12:59] dima4p opened #30 "Rails3 support"
1. before_validation_on_create is deprecated. Please use before_validation(arguments, :on => :create.
2. Base.named_scope has been deprecated, please use Base.scope instead

[2011-03-21 06:22] jensb opened #31 "Memory leak with Rails 3 and AASM"
Hello,

I am investigating a memory leak in my application which was ported from Rails 2.3.10 to 3.0.4. Created a bare-bones application with just one controller that renders :text => "foobar" and one model which "include AASM".

With this app, a "gem 'aasm', :git => 'git://github.com/rubyist/aasm.git'" in Gemfile and create a model which has
    include AASM
and 32 states, 16 transitions and 9 ev

[2011-03-21 06:52] #31 closed, assigned to nobody

[2011-03-29 00:43] dsaronin opened #33 "is enter-callback correct behavior for same_state event transition?"
If event X for state A stays at A, (transitions :to => :A, :from :A), why is the state :A, :enter callback entered again? The state is already at A, it is not being re-entered. There are many state machines where this is the desired behavior. Something gets done when machine first enters state A, but not when already at A. Example, an ON switch turns a machine on, going thru some type of start up

[2011-03-30 05:27] #33 closed, assigned to nobody

[2011-06-17 11:45] miguelperez opened #35 "I get a deprecation warning with Rails 3"
While running the application or my tests I keep seeing this messages:

[code]

[2011-09-15 16:41] #35 closed, assigned to alto

[2011-09-15 16:42] #30 closed, assigned to alto

[2011-09-15 16:43] #22 closed, assigned to alto

[2011-09-15 16:46] #20 closed, assigned to alto

[2011-09-15 16:48] #12 closed, assigned to alto

[2011-09-16 15:37] #21 closed, assigned to nobody

[2011-09-16 20:32] #4 closed, assigned to alto

[2011-09-23 16:35] #19 closed, assigned to alto

[2011-10-15 13:50] alto opened #37 "Use test xor spec, not both."

[2011-10-15 15:35] #37 closed, assigned to alto

[2011-10-17 04:01] jugyo opened #38 "rails 3.1 + aasm causes a WARNING :("
[code]

I avoid this like: https://gist.github.com/1291907

[2011-10-29 13:52] moxorama opened #39 "Leak again (2.3.1)?"
I'm at 2.3.1 and still getting memory leak in development mode.

Workaround:

[code]

in development.rb.

[2011-11-18 21:38] srayhan opened #40 "Why event throws InvalidTransition exception when a transition is not found for the current state for the event?"
I thought aasm would ignore an event if the event is not applicable for the current state, but it throws and InvalidTransition exception. This forces us to write all unnecessary do-nothing transitions! Any reason for this design choice?

I plan to comment out the line of code in event.rb (fire()). I could put this change back here through a pull request, if there is an interest in this change.

[2011-12-14 11:45] michaltaberski opened #42 "Persistence for mongoid (MongoDB)"
I couldn't find any info about AASM working with mongoid (MongoDB). Of course great part of the gem is independent of database, however there is persistence module for active_record. Do anybody know about equivalent of `active_record_persistence.rb` for mongoid?

[2011-12-21 11:41] #42 closed, assigned to alto

[2012-01-16 16:46] #2 closed, assigned to alto

[2012-01-16 16:46] #3 closed, assigned to nobody

[2012-01-16 16:47] #6 closed, assigned to alto

[2012-01-25 00:11] #40 closed, assigned to nobody

[2012-02-21 11:11] cristibalan opened #45 "New syntax does not create scopes for the states"
ActiveRecordPersistence creates the named scopes for each action by hooking into aasm_state. This method is no longer used when using the new syntax, therefore the scopes are no longer created

aasm 3.0.2, rails 3.2.1, ruby 1.9.3-p0

As a temporary workaround, I've added an initializer to my app to create them:

[code]

[2012-02-22 11:12] #45 closed, assigned to alto

[2012-03-08 08:28] #5 closed, assigned to nobody

[2012-03-08 08:29] #39 closed, assigned to alto

[2012-03-14 08:13] #8 closed, assigned to nobody

[2012-03-14 08:15] #10 closed, assigned to nobody

[2012-04-13 09:58] andreacampi opened #47 "invalid date format in specification"
With rubygems 1.7.2 I get:

[code]

That usually happens with gems built with an old rubygems. Can you verify?

[2012-04-16 22:40] #47 closed, assigned to alto

[2012-05-11 13:19] wingrunr21 opened #48 "valid? is called despite config.skip_validation being set"
On line https://github.com/rubyist/aasm/blob/master/lib/aasm/persistence/active_record_persistence.rb#L186  <tt>!self. valid?</tt> is called.  Is there a reason for this?  Calling <tt>valid?</tt> here not only fires all validation-related callbacks on a given model but will also populate the associated error hashes.  I would expect that if I ask aasm to skip validation, <tt>valid?</tt> is never ca

[2012-05-17 10:07] #48 closed, assigned to alto

[2012-06-06 21:07] #38 closed, assigned to alto

[2012-06-16 13:28] ghost opened #50 "small issue , but error updating gem, when building doc"
Building YARD (yri) index for aasm-3.0.7...
[error]: ParserSyntaxError: syntax error in `LICENSE`:(1,18): syntax error, unexpected tINTEGER, expecting $end
[error]: Stack trace:
    /Users/yves/.rvm/gems/ruby-1.9.3-p125@rails32/gems/yard-0.7.3/lib/yard/parser/ruby/ruby_parser.rb:505:in `on_parse_error'
    /Users/yves/.rvm/gems/ruby-1.9.3-p125@rails32/gems/yard-0.7.3/lib/yard/parser/ruby/ruby_pars

[2012-06-17 06:15] #50 closed, assigned to nobody

[2012-08-26 14:15] paneq opened #52 "Invalid homepage in gemspec"
[code]

This page does not exist.

[2012-08-27 08:56] #52 closed, assigned to nobody

[2012-10-24 08:06] #18 closed, assigned to alto

[2013-01-17 19:55] unabl4 opened #53 "AASM column attribute direct assignment restriction"
Just to make the main idea of th state machine more clear I have a proposal to restrict the aasm_column setter at all, because it barely makes any sense, if we have events to transition from one state to another. This way it would have been very strict and clean, which is good - we won't need to think if we accidently assigned a new state, which could be very unwanted.

So, basically, it would loo

[2013-01-23 21:12] jhilden opened #54 "Get list of states & permissible_states based on current state of an AASM object"
We have the use case where we want to display a `select` dropdown for the user to select from all the possible states to transition to.  For that we needed 2 things:  1) a list of all the states  2) a list of the states that the object could potentially transition to based on the current state.

This is the code that we came up with

[code]

And in the view

[code]

The question is where there is

[2013-01-25 15:12] Systho opened #55 "AASM is using scope syntax which will be deprecated in Rails 4"
Rails 4 forces to use the lambda syntax of scopes. I am currently using this initializer to avoid the deprecation warning. Hope it helps :

[code]

[2013-02-20 08:44] #55 closed, assigned to alto

[2013-02-27 02:33] #29 closed, assigned to alto

[2013-02-27 02:38] #7 closed, assigned to nobody

[2013-02-27 03:07] #13 closed, assigned to nobody

[2013-02-27 03:11] #14 closed, assigned to nobody

[2013-03-05 04:45] myitcv opened #58 "Required argument (to_state) when calling event with *args"
With reference to the [README.md](https://github.com/aasm/aasm/blob/04d0643a682a90feaead3d6caba6274a873e25df/README.md) (as of 4 Mar 2013), specifically the definition of a 'custom' on_transition:

[code]

And the subsequent invocation:

[code]

Would it not be cleaner (and I hope unambiguous) to instead write:

[code]

because we have previously defined that this event transitions to running?

Ha

[2013-03-25 21:47] #15 closed, assigned to nobody

[2013-03-29 16:24] etagwerker opened #61 "Multiple state machines in one model?"
Hi,

I am migrating from `state_machine` to `aasm` but I've noticed an issue when trying to use more than one state machines in my model.

My code looks like this:

[code]

I am calling an event from `tuition_state` but my test fails because it tells me it cannot transition from one state to the other.

Somehow it gets confused and an event from state machine #1 is considering states from state ma

[2013-03-30 23:07] #61 closed, assigned to alto

[2013-04-03 16:57] Nitrodist opened #63 "after block no longer works (or did it ever?)"
In the README, there's an example for the callsbacks using an after block within the event block ( https://github.com/aasm/aasm/commit/9f39a22231e9761e73866fffea067b61d6447d75 ) which no longer works:

[code]

Any ideas?

[2013-04-04 04:29] #63 closed, assigned to nobody

[2013-04-12 11:28] etagwerker opened #64 "Issue with Subclass trying to use the Superclass state machine"
Hello,

It seems that subclassing is supported by `aasm` but I am getting an error which seems to be related to this.

I am getting:

[code]

My code looks like this:

[code]

After debugging the code, I see that `aasm` is looking for the state machine inside `Subclass` and not finding it, as intended (or finding an empty state machine)

So, when it looks for the event `add_details` it is not find

[2013-04-19 19:40] #26 closed, assigned to alto

[2013-04-28 16:21] #54 closed, assigned to alto

[2013-05-14 00:40] davidescobar opened #66 "State methods not reflecting the current state"
Hello. In AASM 3.0.16, the following code works like this:

my_object.state                # => "not_posted"
my_object.state = "completed"
my_object.state                # => "completed"
my_object.completed?     # => true

In version 3.0.17, it no longer works. In the last line, the "completed?" method now returns "false" - still thinks it's in the "not_posted" state, even though calling the "stat

[2013-05-15 22:45] #66 closed, assigned to alto

[2013-05-19 17:17] mimmovele opened #67 "undefined method ... for nil:NilClass on :before callback"
Hello,
updating aasm from version 3.0.3 to version 3.0.17 breaks on :before callback in my application.

My code looks like this:

[code]

Then, in console:

[code]

I've then reverted to version 3.0.3 since I cannot get where the error is.

I'd appreciate your feedback.

Thanks!

[2013-05-20 15:51] #67 closed, assigned to alto

[2013-05-23 21:55] ghost opened #68 "rails4 scoping"
[code]

[2013-05-28 12:53] cristibalan opened #69 "AR automatic scopes are not chainable"
Trying to chain a method after an AASM scope breaks because AASM returns an instance of AASM::Base instead of an ActiveRecord::Relation.

ruby 2.0.0.p0, rails 4.0.0.rc1, rspec 2.13.1, aasm 3.0.17

[code]

[2013-05-29 01:36] henriquesobral opened #70 "Needs to restart Pow.cx after changing events callbacks list"
Hi,

When i change callback list from any event in my model,

**EX:**
**from this:**
_"event :call, :before => :generate_password, :after => [:notify_person, :event_timestamp] do"_
**to this:**
_"event :call, :before => :generate_password, :after => [:event_timestamp] do"_

i aways need to restart pow server to reflect the changes on my app.

Is this an error? Or it's default behavior?

Thanks

[2013-05-29 21:36] #69 closed, assigned to alto

[2013-05-29 21:38] #68 closed, assigned to alto

[2013-06-12 09:09] #17 closed, assigned to alto

[2013-06-12 22:11] brandonweiss opened #74 "Breaking changes from 3.0.16 to 3.0.19"
I upgraded from 3.0.16 to 3.0.17 and a bunch of my tests blew up. I assumed there were some regressions so I waited. I'm now trying to upgrade from 3.0.16 to 3.0.19 and my tests are still blowing up.

For example, with 3.0.16 this passed.

`Resource.new(aasm_current_state: :up).up?`

On 3.0.19 this fails. It returns `false`, and when I check what the state is, it's the default state, despite the f

[2013-06-13 17:55] #74 closed, assigned to alto

[2013-06-14 01:13] ghost opened #75 "event_name! returns false if object.valid? returns false"
A method with a bang, by convention should either force it's intended change or raise an exception. IIRC, previous versions of aasm would persist the state change even with invalid objects.

If this behavior has changed, an exception should be raised or the convention of using event_name! should be changed.

[2013-06-17 23:29] ghost opened #76 "event! silently fails to transition to the specified status"
With rails v3.2.12 + aasm v3.0.19.

Here's the state machine for my model:

[code]

Calling `instance.finish!` sets the `finished_at` timestamp, and sends the expected email, but the `status` never changes to 'last'.

[2013-06-20 21:04] #75 closed, assigned to nobody

[2013-06-25 03:59] #76 closed, assigned to alto

[2013-06-26 12:47] radeno opened #77 "Infinity loop when destroy model when state is in polymorphic"
Hi,

i have 2 models where associated polymorphic model has includes AASM.

[code]

in console:

[code]

when is destroying it gives me infine loop.

When is needed my gemfile i will send.

[2013-06-26 16:20] garrettd714 opened #78 "inspection and scopes not working"
The Inspection methods and Automatic scopes in the README don't seem to be working. Events work fine. Any ideas?

was on 3.0.14, updated to 3.0.19 with same result (NoMethodError: undefined method)

rails 3.2.12

[2013-06-26 18:13] #78 closed, assigned to nobody

[2013-06-28 20:11] #70 closed, assigned to alto

[2013-07-18 20:56] mariozaizar opened #79 "Disable automatic creation of scopes for each state in the model"
Hello, so talking about:

We're having issues with some legacy state "timeout" that is also present in `1.9.3-p194/lib/ruby/1.9.1/timeout.rb`

Is there any way to disable this automatic scope from an specific state?

Seems like that method `timeout` is deprecated, but we would like to avoid the:

[code]

[2013-07-24 14:39] zimbatm opened #81 "Missing callback that is activated after the transaction"
I've been migrating from the old 2.2.0 version and we're having trouble with the new transactions. The issue is that we use :after_event to send notifications and that the receiving party is fetching the object before the transaction is committed. So I'm wondering if a :after_commit callback could be added ?

[2013-08-06 14:57] #79 closed, assigned to alto

[2013-08-09 13:52] unabl4 opened #83 "Event calls override ?"
Hi!

I wanted to know if it is possible to override event methods ?

For example, I have an "accept" method, so I can call on my model: @model.accept! and it will do all the magic.

But for one specific task, I needed to override it, in order to supply the model with additional parameters, something like this: @model.accept!(param)

In my model I've tried overriding the method like this:

def acce

[2013-08-16 14:20] nicolasgarnil opened #84 "Question: How to update a state_changed_at column after successful transition?"
Is there an easy and clean way to update a "state_changed_at" or similar after each successful transition?

[2013-08-16 14:22] #84 closed, assigned to nobody

[2013-08-23 08:04] unabl4 opened #85 "Event-based guard (idea)"
Sorry for being noisy :)

Just an idea to have :guard option to be definable in the event description.
In my project I have an example of necessity in that one:

event :validate do
      transitions :from => :stored, :to => :pending, :guard => :all_valid?
      transitions :from => :rejected, :to => :pending, :guard => :all_valid?
end

As you can probably see that :guard option is duplicated.
Inst

[2013-08-23 08:04] #83 closed, assigned to alto

[2013-08-25 20:16] johnnyshields opened #87 "Idea: Slop mode"
Just an idea. For some use cases, esp. for models which have many states and relatively few transitions per state, I'd like to have a "Slop" mode where any modifying the AASM field of the object is implicitly checked at `save` time, rather than having to explicitly call the transition methods.

For example:

[code]

If there are multiple events which can transitions from state A to state B, use th

[2013-08-29 00:50] guaguasi opened #88 "AASM 3.0.21 breaks on Rails 3.0; wrong number of arguments (1 for 0) for transaction method"
AASM is now passing an argument to the AR transaction method which does not take one. 91a90c92337788f44da7f3eb778fb0ab52a13844

[code]

[2013-08-29 19:42] #88 closed, assigned to alto

[2013-09-09 08:54] vfonic opened #91 "When record is saved with validations skipped, aasm state doesn't get initialized"
I have a model with the following code:

[code]

When I do:

[code]

And later I save the valid object:

[code]

If I then try to do `job.complete!` I get `NoMethodError (undefined method`name' for nil:NilClass)`

In the database, I can see that aasm_state is nil (it never gets set to initial state).
Any ideas?

[2013-09-24 18:52] #64 closed, assigned to alto

[2013-10-25 19:08] bismark64 opened #93 "Integer column type support?"
I'm wondering if I can do some trick to map an integer column to string in order to use AASM..
It'd be wonderful if you add support for integer columns..

[2013-10-28 19:45] yamanaltereh opened #94 "how callback after or before event but customize it what from status ?!"
how callback after or before event but customize it  what from status ?!

I want call method when transitions to status but from specific  status not from all !!

by example: initial status !! I don't want to call method in initial situation, but only from another status !!
<code>
    state :started, :initial => true

[code]

</code>

[2013-10-28 20:12] #93 closed, assigned to alto

[2013-10-29 20:25] #94 closed, assigned to alto

[2013-11-15 10:47] #81 closed, assigned to alto

[2013-11-18 22:16] #11 closed, assigned to alto

[2013-11-18 22:17] #58 closed, assigned to alto

[2013-11-18 22:31] alto opened #96 "Clean up callbacks"

[2013-11-21 01:37] david-a opened #99 "'after' callback should be triggered after saving in DB"
Continuing the discussion from
http://stackoverflow.com/questions/20071940/aasm-error-in-after-event-callback-cancels-the-event/20106381?noredirect=1#20106381
1. When firing an event with '!', let aasm save the new state even if there's an exception in the after callbacks. (== the 'after' callback is fired AFTER persisting the new state.) If there's a problem getting to the new state (e.g. failing

[2013-11-21 14:59] leddo opened #100 "Get Old and New State for a transition"
I need to record a transaction log of when the state changes.  In this log, I need to record the old state and the new state.

I couldn't find a way that I could get that information through any of the event call backs.

Any suggestions ?

[2013-12-16 22:19] #91 closed, assigned to alto

[2014-01-03 08:10] camsong opened #105 "how to get human state name"
Model has `aasm_human_event_name` as class method, while it don't have `aasm_human_state_name`, is there any painless way to get it? thanks

[2014-01-11 11:47] #105 closed, assigned to alto

[2014-01-21 18:04] MSch opened #107 "Nested AR transactions"
https://github.com/aasm/aasm/commit/91a90c92337788f44da7f3eb778fb0ab52a13844 introduced nested transactions for events.

I'd need a way to turn that off, I just upgraded to the latest aasm to get `after_commit` and my code does not expect nested transactions.

Would it be ok to introduce a setter like e.g. `AASM.perform_events_in_new_transactions` that can be turned off?

[2014-01-24 11:03] #85 closed, assigned to alto

[2014-01-24 11:06] #107 closed, assigned to alto

[2014-01-24 11:27] #99 closed, assigned to alto

[2014-01-27 21:06] #100 closed, assigned to alto

[2014-01-27 21:52] #77 closed, assigned to alto

[2014-01-28 21:28] johnnyshields opened #108 "Support decoupled callbacks"
Hi, it would be nice if I could do something like:

[code]

[2014-01-29 12:45] kyledecot opened #109 "after callback Proc not receiving object"
I have a  `Post`model that looks something like

[code]

When I call `@post.accept_approval!(:active, current_user)` and the after callback gets triggered, in my console I can inspect what `user` is (that was passed into the Proc) and it's `nil`.

[2014-01-29 18:24] bokmann opened #110 "Guards on events not working"
At first I thought I was going crazy, but I've defined an event like this:

[code]

and

[code]

does not fail.  If I move it down to the transition, it works as expected:

[code]

I have some events that define quite a few transitions, each of which have to be guarded by a user's role.  I'd love to specify that once, as the docs suggest.

[2014-01-29 18:40] #110 closed, assigned to nobody

[2014-02-20 18:57] samdec opened #112 "after_commit callback not firing on initial state"
I wrote a failing spec that exposes the bug:

In `spec/models/validator.rb`

[code]

In `spec/unit/persistence/active_record_persistence_spec.rb`

[code]

[code]

[2014-02-28 12:20] silentshade opened #113 "human_state throws an exception when ActiveRecord is not available"
When ActiveRecord is not available in production (eg if using Mongoid AR is not loaded) the model_instance.aasm.human_state throws an exception:

[code]

This is because AASM::Localizer#ancestros_list references this class:

[code]

Quick fix is to use class.name instead:

[code]

[2014-03-01 14:37] #113 closed, assigned to alto

[2014-03-14 11:39] MSch opened #114 "AASM.remove_deprecated_methods!"
I just added AASM to a new project and obviously won't be using the deprecated methods, yet they e.g. clutter the http://pryrepl.org/ output. What are your thoughts on a method `AASM.remove_deprecated_methods!` that I can put in an initializer and that removes the deprecated methods from the AASM module (and submodules)?

[2014-03-17 20:13] #114 closed, assigned to alto

[2014-03-17 21:01] #112 closed, assigned to alto

[2014-03-26 11:33] grdw opened #116 "How to separate aasm states from large models?"
Is it possible to move the aasm states and events to a separate class or module.

My class is getting to 'large' and I would like to know if this is possible.

[2014-03-30 05:50] guyisra opened #117 "Transitioning to a fallback state if commit/guard fails"
Is there a way to have options for a state like

[code]

so if the guard returns true, the state of the model would go to a failed (or other) state?
since if a guard return false, commiting is rollbacked, I can't include a state change within a guard like

[code]

[2014-03-31 19:10] #116 closed, assigned to nobody

[2014-04-17 22:50] mikeni opened #118 "with activerecord, associated model state always being set to "default" rather than custom defined"
I have a model

class Auction < ActiveRecord::Base
  belongs_to :dealer_item
end

class DealerItem < ActiveRecord::Base
 aasm :column => 'status' do
    state :unsold, :initial => true
  end
end

when creating an auction and dealer item at the same time such as when posting the following parameters
{"utf8"=>"✓", "authenticity_token"=>"rXugd834NAteLbNDGsCEVGlnHVrNGwSTfXYbRU/057Y=", "auction"=>{"dea

[2014-04-18 19:33] #118 closed, assigned to alto

[2014-05-01 22:57] stupied4ever opened #121 "Error on multiple transitions with different final state"
[code]

We expected that:

[code]

whould change `job` state to `:database_installed`, but it stop on `:machine_provisioned`.

if we call cook again, it change to `:database_installed`.

[2014-05-03 17:18] shwoodard opened #122 "AASM should validate state changes in ActiveRecord using rules for update_attributes or create"
This is a feature request.  If I do, e.g. `model.approve!`, it throws the exception if this not a valid state change.  However, if I do `model.update_attributes(aasm_state: 'approved')`, this will go through without validation failure, so the model is not really locked down.  Could events with transitions generate validations for the transitions?  I can write a PR.

Thoughts?

[2014-05-03 22:00] #122 closed, assigned to nobody

[2014-05-05 20:10] #109 closed, assigned to alto

[2014-05-08 10:59] phuongnd08 opened #123 "Passing parameter to event"
Is there a way to passing parameter to event and use a callback to verify the correctness of transition and raise exception if necessary? I know there is a way to do it with alias but it doesn't look right at all.

Here is a simple scenario:

[code]

I only want to switch the object to confirmed state if user can present a valid parameter so I call:

[code]

But I'm getting very confusing error: `

[2014-05-11 08:42] mantas opened #125 "Naming conflict"
I bumped into a naming conflict while using AASM in my Rails application. I've a model named Event that I was referencing from the AASM-enabled model. It is including AASM::Event on top of Event AR model. Thus Event in model's scope becomes AASM::Event class instead of AR model. I eventually worked around this by setting relationship's class_name to "::Event", but it was troublesome at first.

[2014-05-11 16:12] barockok opened #126 "on_transition with proc cannot receive arguments as object, but it's work when pass a string"
[code]

result

[code]

[2014-05-11 16:38] #125 closed, assigned to alto

[2014-05-12 07:40] #126 closed, assigned to alto

[2014-05-13 18:06] glebe opened #127 "issue with complex state setting behaviour"
I have a model where state is defined as a relation with another table through `state` association.
So i have setter `aasm_state=(param)` where is set the state as `state=State.find_by_name(param)` and saving it the same time
and getter `aasm_state` which returns `state.name`

Each time I try to change state of the model I get warning because of how AASM treats states:

You can see it's `write_att

[2014-05-14 18:37] passalini opened #128 "Method my_fire_event? returning NoMethodError with events that not exist."
When I try

[code]

It returns

[code]

I think that should return `false` or raise an error saying that event not exists

[2014-05-15 21:10] #123 closed, assigned to alto

[2014-05-15 21:10] #121 closed, assigned to alto

[2014-05-16 20:03] #128 closed, assigned to alto

[2014-05-18 13:08] #53 closed, assigned to alto

[2014-05-26 05:47] hiveer opened #133 "InvalidPluralizationFormat"
According the WIKI, I setup the translation format like this

[code]

I test it in rails console, it is ok

[code]

But when start up the server, there comes the error like this

[code]

Any more suggestions?

[2014-05-26 08:15] aarontc opened #134 "Request: initial_state transition on instantiation, instead of at first aasm access"
I think it'd be useful for AASM objects to transition to their initial state (and fire callbacks, etc.) immediately upon instantiation. Currently, I'm having to call .aasm#current_state on every object I instantiate, because I'm using timers for automatic transitions in some cases. (And the consumers of the state machines don't care until a callback is fired, so there is no implicit transition or

[2014-05-30 08:44] #133 closed, assigned to alto

[2014-06-02 09:13] sandeepcisin241 opened #135 "after_commit is triggered before saving the record."
I am also facing the problem with the latest version of AASM (i.e. 3.2.0) is that my after_commit callback is triggered before saving. It should be triggered after saving in DB. I have `Bid` model some thing like that.

[code]

When I call `submit_bid` method to submit the bid. The callback `notify_user` callback is triggered before saving the bid into database. I can see that from logger that fir

[2014-06-04 19:01] martinmarquez opened #136 "Tooltips para los inputs"
La idea es que en cada input haya un ejemplo claro de que debería poner el usuario en ese campo.

[2014-06-05 11:40] #136 closed, assigned to alto

[2014-06-12 15:13] sgringwe opened #139 "'Event' class name collision"
I have a class in my rails project called 'Event'. Unfortunately, this means I get a lot of collision with the 'AASM::Event' class.

Although I understand that I am the one at fault for not namespacing my Event class, from what I have read it can be very difficult to namespace models in rails. Would the aasm project have any interest in changing the name of their 'Event' model to something differe

[2014-06-13 10:00] daniel-rikowski opened #140 "permissible_events and events do not contain events with an empty "from" transition"
This event:

[code]

does not show up in `events` or `permissible_events`

The reason is the following line in `Event#transitions_from_state`:

[code]

because `from` is `nil` the transition it is not considered to be a valid transition for the (non-`nil`) state.

As far as I understand this can (and should) be changed to:

[code]

If you agree I'll gladly change it and make a pull request.

Thank

[2014-06-14 20:15] #140 closed, assigned to nobody

[2014-06-23 20:05] bigtunacan opened #142 "SystemStackError: stack level too deep"
I'm in the process of upgrading a Rails 3 application up to Rails 4.  Now when I call aasm_state on my record I sometimes receive the error

[code]

This was working fine prior to upgrading to Rails 4.  I updated the gem to the latest version to see if this would help, but I'm getting the same results.

[2014-06-26 10:14] bitboxer opened #143 "Namespaces for states?"
Right now I am trying to migrate a rails app from the not longer maintained `state_machine` gem to `aasm` but sadly there is one feature missing: namespaces.

I have two state machines in one model and both have a `:done` state. With the state_machine gem I could give both different namespaces and this was no problem anymore.

After looking into the documentation I did not find a way to do this wi

[2014-06-26 14:51] #142 closed, assigned to alto

[2014-06-29 13:50] #143 closed, assigned to alto

[2014-07-03 15:17] rousisk opened #146 "Allow for multiple state definitions in one line (states :sleeping, :running, :cleaning)"
This is a feature request for some syntactic sugar.

I would like to have an elegant way of adding multiple "vanilla" states in one line. And by "vanilla" I mean any state which isn't initial or has callbacks associated with it.

Example usage of the proposed feature:

[code]

If you like the idea and you think it might be of value to more people I would like to prepare a PR.

[2014-07-04 12:21] fabn opened #147 "RSpec matchers"
Are you interested in bundling some RSpec matchers in your gem?

Currently I'm using a simple matcher which only allows to check for permissible states

[code]

Here's the matcher:

[code]

[2014-07-07 16:45] rdavila opened #148 "States configuration are not reloaded with Rails"
### Steps to repro

Given the following states config:

[code]

If you add a callback to your state like this:

[code]
### Expected

`do_something` should be called when entering into that state
### Actual

`do_something` is not called until you restart your development server.

Tested with Rails 4.1.1 and aasm 3.2.0

[2014-07-12 12:58] renatorozas opened #150 "Guarded transitions states should not be listed as permissible states"
I just run into a weird behaviour when I tried to get permissible states. If you have a transition guarded, then  the `to_state` should not be listed as a permissible state.

Example:

[code]

[2014-07-12 14:12] #150 closed, assigned to alto

[2014-07-15 19:59] michaeldickens opened #152 "When used with ActiveRecord, AASM does not check that fields are in the backing db"
I recently encountered a bug in some code I wrote where I was attempting to access an AASM state from the backing database associated with an ActiveRecord. I hadn't migrated the database, so AASM couldn't find the column in the database. Instead of returning a helpful error, it said, `NoMethodError: undefined method `type' for nil:NilClass`. I discovered that this happens in active_record_persiste

[2014-07-22 10:36] aditya-kapoor opened #156 "Callbacks not running for the initial page state"
This is in reference to the docs mentioned on the Home Page for the gem. The following snippet of code doesn't work at all.

[code]

j = Job.new
j.run # => debugger stops...but it should stop at the time of the initialization of the object.

I think the docs are incorrectly portraying this behavior and is there anything that I am missing.
Can anyone please advise on this.

[2014-08-04 13:00] fabioperrella opened #158 "multiple state machines in the same model"
Hi, this is a feature request!

It would be great if could be possible to use more than 1 state machine in the same model.
We use gem state_machine and we have some models with more than 1 state machines.
When we tried to upgrade rails from 4.0 to 4.1, we were blocked by issue https://github.com/pluginaweek/state_machine/issues/295 so we tried to use gem aasm but it was not possible

[2014-08-04 22:12] rranelli opened #159 "Cascade events"
Hi,

I have an application where both an "Aggregate" class and a "Part" class use AASM.
For some events in "Aggregate", I need to cascade the same event to each of its "Parts".

I have been doing this with:

[code]

The problem arises when someone calls the "bang" version of the event. In this case, the method forwards the "non-banged" version of the event to each part, and this is not the expecte

[2014-08-07 09:32] dkrusenstrahle opened #161 "Fire callbacks when changing state field manually"
Hello,

Do I have to use for example @task.activate! or could the callbacks fire when I change the state field with a normal @task.update (right now it doesn´t).

Thanks!

[2014-08-10 17:34] #135 closed, assigned to alto

[2014-08-11 23:17] roberthoner opened #162 "[ActiveRecordPersistence] Unnecessary DB transaction on non-persistent events"
When an event is triggered without persistence, an unnecessary database transaction is created, resulting in unnecessary communication with the database.

See: https://github.com/aasm/aasm/blob/v3.3.1/lib/aasm/persistence/active_record_persistence.rb#L174-L176

The method is copied below:

[code]

I suggest the first three lines be changed to something like:

[code]

[2014-08-14 08:34] bitboxer opened #163 "after_commit callback behaves strange when cascading events"
I have a state machine that has a little bit of cascading in it with guards that determine in which state the state machine should end up with.

Sadly the after_commit hook does not work for such a use case when using the active record persistence.

What happens is that it will call the after_commit hook of the final state as often as there have been recursions in the state machine and does not ca

[2014-08-16 09:14] #162 closed, assigned to alto

[2014-08-20 19:49] #148 closed, assigned to alto

[2014-08-28 19:11] stiff opened #165 "Nested states"
What do you guys think about nested states? Imagine an order processing system, where some states have substates (like client notified, but different in different states). The syntax for it I think:

[code]

Doesn't look very nice, so before implementing it I wanted some feedback, anyone?

Is it too big change to better go in its own gem?

[2014-09-01 19:06] #165 closed, assigned to nobody

[2014-09-02 14:50] sporkmonger opened #166 "Why aren't callbacks fired w/ parameters?"
As best as I can tell, AASM only sends the event parameters through to guards and `on_transition`. Is there any particular reason for this? I could see an argument for not sending those through to state callbacks, but I think the event's `before`/`after` callbacks should get them at the very least.

https://github.com/aasm/aasm/search?utf8=%E2%9C%93&q=fire_callbacks

[2014-09-09 21:02] #96 closed, assigned to alto

[2014-09-10 19:04] bbugh opened #168 "Access to firing event in callbacks"
There does not seem to be a way to access the name of the event that triggered an on_transition callback. We need this for a pubsub to record state changes event (because externally we care about triggered events and internally we care about states). In this case the to_state/from_state is not helpful, we need the particular event. There are a number of ways to hack this in our application and all

[2014-09-12 09:45] #159 closed, assigned to alto

[2014-09-12 09:45] #168 closed, assigned to nobody

[2014-09-15 18:32] rranelli opened #169 "aasm.current_event does not appear in aasm.events for banged events"
Suppose `current_event` is a non-banged event. Then,

[code]

Now, suppose `current_event` is a banged version. In my understanding, the code above should yield  the same result. But when actually running it, I get:

[code]

Is my understanding correct ?

If this is a bug, I would gladly send a patch to fix it.

Thanks.

[2014-09-26 09:04] ugoa opened #172 "Define methods in state"
Dear all,

Don't panic, this is feature request :)

I wonder if AASM can allow model to define methods in the `state` clause, like the way `state_machine` gem did:

[code]

In this way, We can directly call `Car.new.speed` without concerning what status the car is currently in, because it will automatically call the right 'speed' method based on the current status. I think this could be really hel

[2014-09-26 14:38] adamonduty opened #173 "Best way to obtain next to_states for event?"
Given a known event and the current state, how can I get the potential to_states without transitioning to them?

I wrote this code, but I'm not sure if `aasm` has a better approach:

[code]

In the provided example, this code would return `[:running]`. Is there a better way that would be more likely to survive library refactoring?

[2014-09-27 08:54] kibaekr opened #174 "How to transition to next state? "user.next_state!""
Is there a single method I can use to allow a user to transition into the next state, using a method like "user.next_state!" ? I know there could be more than one potential states you can transition into from a state, but maybe it would just go to the first one defined by default

[2014-09-29 20:28] #166 closed, assigned to nobody

[2014-10-08 04:48] dudo opened #176 "event params"
What's the reasoning behind having to add the end state as the first param of of the params of an event?

[code]

So, this is called with `foo.sell(:sold, User.last)`. If the event has a to transition set... why?

[2014-10-10 18:34] danrabinowitz opened #177 "Surprising (incorrect?) behavior of aasm.events"
This ruby script outputs four lines. The first two are correct. The second two are not. (Unless I'm missing something.)

The issue is that aasm.events seems to only return permissible events, and aasm.events(:permissible => true) seems to always return an empty array.

[code]

Here's the output using aasm v3.4.0:

[code]

[2014-10-12 13:16] #176 closed, assigned to alto

[2014-10-12 14:19] #177 closed, assigned to alto

[2014-10-12 14:27] #173 closed, assigned to alto

[2014-10-16 04:06] thomasstephane opened #178 "Label of rspec matchers with rails 4.1.6"
Hi there.

I'm using the state_machine in a rails 4.1.6 app, and the label for matchers is off (was working on rails 4.1.0) despite the test behaving as expected. Any idea?

Test:

[code]

Result label
[code]

[2014-10-22 21:11] maletor opened #179 "Rename "guard" to "if" and add "unless""
`guard` seems pretty out of place. I propose we change to `if` which is much more commonplace in programming and add `unless` since that would also be expected if there is `if`.

[2014-10-29 16:40] hectorvs-gxg opened #180 "Check if state is past another state?"
Suppose there is an object with 4 states

[code]

There is also a method that should only be executed when the object is in a state greater than `:in_process`

How do I go about doing this check? I thought it might be something like:

[code]

But that just compares the strings.

Am I missing something or is there an actual way of performing a check like this?

Thanks.

[2014-11-11 03:44] zubin opened #182 "raise exception when invalid syntax encountered"
At first glance, this looks fine, right?

[code]

Astute observers will spot the misspelt `transitions`, but why not raise a `NoMethodError`?

Even _this_ doesn't raise an exception:

[code]

Similarly, invalid options passed to `state` or `event` are ignored.

Is there any reason for not raising exceptions when invalid syntax is encountered?

[2014-11-14 17:09] #179 closed, assigned to alto

[2014-11-17 21:35] #182 closed, assigned to alto

[2014-11-19 21:51] sfkaos opened #184 "Guard method being called twice"
I am currently seeing guard method being called twice in aasm events.  Please see below:

[code]

Here is the test

[code]

Getting

[code]

[2014-11-19 22:38] #184 closed, assigned to alto

[2014-11-24 09:27] mrcasals opened #186 "Problems with guard"
Hi!

I'm upgrading from `aasm` 2.2.1 to 4.0.1 in a Rails app, and I have this state machine defined:

[code]

This is the spec I was using:

[code]

The spec was passing with `aasm` 2.2.1, but after upgrading to 4.0.1 the test fails because I get an `AASM::InvalidTransition` exception because the guard is failing. I tried moving to the other guard syntax so that the guard does not raise an excepti

[2014-11-24 12:52] #186 closed, assigned to alto

[2014-11-25 00:19] AnatoliiD opened #187 "Guard on false called twice"
example:

[code]

[2014-11-25 21:31] #187 closed, assigned to alto

[2014-11-27 06:58] ernsheong opened #189 "Direct state assignment skips callbacks?"
Just confirming that `object.aasm_state = :a_state_name` does not trigger any callbacks?

[2014-11-27 07:05] #189 closed, assigned to nobody

[2014-11-28 21:33] #139 closed, assigned to alto

[2014-12-03 15:45] kaluznyo opened #191 "State of new object with ActiveRecord"
Hi,

I don't know if it's a bug or a bad comprehension of process

With this code:

[code]

The state should be 'picking' ?

[2014-12-04 00:12] hasghari opened #192 "Badly named configuration option"
The configuration option `skip_validation_on_save` does not correspond to the expected behavior. I was expecting a `save(validate: false)` when that option is `true` but instead it is completely bypassing all calbacks and only persisting the state column.

I would suggest either changing the behavior to match the name or changing the name (`only_persist_state_on_save`) to match the behavior as to

[2014-12-05 16:35] #191 closed, assigned to alto

[2014-12-06 03:31] kntmrkm opened #193 "Ver. 4.0.3 to 4.0.4. Then `missing attribute: state`"
I have a question.

My code summary is...

[code]

When upgrade version 4.0.3 to 4.0.4.
AASM need a column `state`?

Case 1.

[code]

Above code occured this error.

`missing attribute: state`

So, I added state column.

[code]

It's no errors.

Case 2.

[code]

Above code occured error. `missing attribute: state`.

but, I can't add column `state`, because Reservation SQL is grouped.

How Should I

[2014-12-06 10:36] #193 closed, assigned to alto

[2014-12-08 14:24] McRip opened #195 "Error when retrieving events from an instance with custom column name."
We have several aasm state machines in our project, but the only one failing in our project when checking instance level events is defined like this:

[code]

The test:

[code]

The error and stacktrace:

[code]

All this works with 4.0.3 but is broken in 4.0.5

Thanks for your help.

[2014-12-09 13:00] jonathanpa opened #196 "How to pass args passed to an event to the error block ?"
My event is defined this way:

[code]

and I call it `my_instance.share(message, tags)`. If the transition is allowed, I don't have problem to call `inc_in_path_share` with `message` and `tags`. But when the transition is not allowed, I want to have a default action processed by `inc_share` in my `error` block.

How to pass `message` and `tags` to the `error` block ? May be the way I am thinking i

[2014-12-12 23:53] #196 closed, assigned to alto

[2014-12-13 00:23] #195 closed, assigned to alto

[2014-12-20 18:32] peterkeen opened #197 "Regression in v4.0.6 handling `after` callbacks"
I believe 4.0.6 introduces a regression, specifically in this commit:

https://github.com/aasm/aasm/commit/bb01034c1a5cdfb9be8043648f17b116e1cebdd0

In 4.0.5 Payola's [state](https://github.com/peterkeen/payola/blob/master/app/models/payola/sale.rb#L22-L44) [machines](https://github.com/peterkeen/payola/blob/master/app/models/payola/subscription.rb#L25-L51) pass tests and work great, but with 4.0.

[2014-12-20 19:26] #197 closed, assigned to alto

[2014-12-31 11:02] alto opened #200 "Question mark methods returns state symbol instead of true"
Having a state machine like this

[code]

then this should work:

[code]

but this is returned instead:

[code]

[2014-12-31 11:18] #200 closed, assigned to alto

[2015-01-06 20:59] Soleone commented on #108
here's what i'm struggling with right now trying to transition away from the `state_machine` gem:

[code]

Do i define those callbacks on my event, my transition or my state (looks like state is my best bet to avoid duplication)? It seems I can't provide multiple `:after_exit` callbacks, right? and it looks like I can't have a guard/condition on the callback (not the transition itself).

Curious h

[2015-01-07 12:56] alto commented on #108
Hi @Soleone,

regarding your questions:

##### _Do i define those callbacks on my event, my transition or my state (looks like state is my best bet to avoid duplication)?_

It depends. If you want to fire a callback whenever a particular state is entered, use `:after_enter` (or `:before_enter`) on that state. If it all depends on a particular event, then you should use `:before` or `:after` on tha

[2015-01-07 15:09] Soleone commented on #108
hey @alto,

thanks for the quick reply, appreciate it! That's good to know that I can use multiple callbacks, it wasn't clear to me from the documentation and looking at the source, but makes sense. This will actually solve most of my issues.

The main issue with state based callbacks are as follows:

Let's say you have 10 states. You want to run a certain callback when leaving state A or B, but o

[2015-01-07 15:11] johnnyshields commented on #108
FYI the reason I raised the original issue was to implement an observer pattern on transitions. (Of course possible to observe the state variable but not the transitions). When you have very complex models like I do, something like 20 states and 30 events in a single model it would be really nice to reduce coupling of state and business logic inside my model class.

[2015-01-07 18:58] alto commented on #108
@Soleone Regarding your last question, what about this?:

[code]

If that's not what you are after, maybe you could provide a non-DRY solution using _AASM_. Then I could see, how to optimise it.

[2015-01-07 19:12] Soleone commented on #108
Thanks! The issue I see with your approach that there's only one event that explicitly defines these transitions but I have a bunch of events that do allow these transitions (sometimes go from _any_ state to a particular follow up).

Here's my current AASM version:

[code]

And here's the previous `state_machine` version:

[code]

[2015-01-13 03:05] wizztjh commented on #172
+ 1

[2015-01-13 03:06] dominicwong617 commented on #172
:+1:

[2015-01-13 12:16] Valve commented on #158
+1

[2015-01-14 16:24] awendt opened #202 "after_enter fires before state is persisted"
According to the documentation, `after_enter` is fired after persisting. That's why I'd expect this minimal to work:

[code]

However, it raises an exception because the record is not persisted yet when `after_enter` fires. See [this gist](https://gist.github.com/awendt/cfa4ec3ba474b2c4825f) for the whole test case.

This is contrary to the documentation and the test [here](https://github.com/aasm

[2015-01-14 16:39] alto commented on #202
I will take a look.

[2015-01-14 17:08] alto commented on #202
Are you using `confirm!` to fire the event?

[2015-01-14 20:29] alto commented on #202
Ah, sorry, I got that wrong. You are not even trying to confirm. `enqueue_something` is part of the initial state.

[2015-01-14 20:42] alto commented on #202
So, taking the gist example and your example code above, I assume you are simply instantiating the Verification class:

[code]

Is that correct?

The reason for this behaviour is this: _AASM_ makes sure to enter the initial on initialization of the object (using _ActiveRecord_'s `after_initialize` hook). Persistence is run only on firing an event (and only if called as bang method, like `confirm!`

[2015-01-16 10:26] awendt commented on #202
Makes perfect sense, thanks! Closing this.

[2015-01-16 10:26] #202 closed

[2015-01-16 10:30] alto commented on #202
:+1:

[2015-01-19 11:37] anilmaurya opened #205 "Adding generator to add migration and aasm skeleton to model"
Feature request.

After adding aasm to my Gemfile, I was looking for a generator to setup my model and add migration.

Some thing like this

`rails generate aasm MODEL`

which will add

    class Model < ActiveRecord::Base
      include AASM

      aasm  do

      end
    end

and generate a migration

    class AddModelState < ActiveRecord::Migration

       def change
         add_column :models

[2015-01-23 09:30] nofxx opened #206 "Mongoid initial value not setted"
Won't work.

[code]

Tryed custom column: 'state' with same error.

Workaround:  `field :aasm_state, type: String, default: :queued`

PS.: Thank you for AASM, hard to find, bad searches engines...the plural... a SEO improvement might be having the singular 'state machine' somewhere.

[2015-01-23 09:44] nofxx commented on #206
Willing to accept a patch that creates the field automagically?

[2015-01-23 09:53] nofxx commented on #158
-1 An object should not have more than one 'state'.
Remove to a class, persist it embedded.
E.g: The classic state_machine car example: is a mess!
It would look way better if you had a Gearbox, Windshild and whatnot classes instead of only a Car object that handle all those states.

[2015-01-23 11:54] dstosik commented on #158
:+1: to @nofxx

[2015-01-23 12:02] Valve commented on #158
@nofxx, in my case I have over a hundred states within one object, and we have a second, more high-level coarse state, which acts as a grouping for multiple fine-grained states.

For example:
Object on a heap:

created (high level grouping state), may actually be one of:
 * initialized
 * allocated
destroyed (another high level grouping state), may be one of:
* inaccessible
* garbage collected
* f

[2015-01-23 13:34] sepsep commented on #158
+1
On Jan 23, 2015 7:02 AM, "Valentin Vasilyev" <notifications@github.com>
wrote:

[2015-01-25 22:03] zeitnot opened #207 "AASM does not work in child class."
I am using mongoid.

This is my parent class:

[code]

This is child class:

[code]

When I run the following snippet under rails console it works.
[code]

But when I run this snippet it fails
[code]

[2015-01-26 00:08] alto commented on #206
@nofxx Absolutely! I'm happy to accept patches (with tests).

[2015-01-27 20:37] posgarou commented on #61
@alto Agreed: this would be very helpful.

[2015-01-28 13:44] lazywei opened #208 "Auto-save not work in sidekiq perform_async"
I have a `Minion` which is a AR class with aasm.
`minion.ready!` works fine in Rails. However, if I call this method in a Sidekiq's `perform_async`, the `minion.ready!` will not save itself. I need to call `minion.save` explicitly.
I'm not sure what's wrong with it. Is there any other information can be useful that I can provide?

Thanks.

[2015-02-04 22:15] ksylvest opened #210 "Initial State Not Calling Enter on Create"
Given the following code snippet:

    aasm column: :status do
      state :pending, enter: -> (user) { ... }, initial: true
      state :approved, enter: -> (user) { ... }

      event :approve do
        transition from: :pending, to: :approved
      end
    end

Running the following doesn't seem to trigger the `enter` callback for `pending`?

    model = Model.create # doesn't call the enter c

[2015-02-05 13:49] zeitnot commented on #207
@alto I have analyzed the code but have not found any thing. Is there any improvement with this problem ?

[2015-02-07 05:58] alto commented on #207
@zeitnot Sorry for not coming back to this lately. I was busy moving overseas. Do you to mind to help with providing a failing test for this? This would speed up things a lot. I will take a look at the problem as soon as possible (bugs have top priority). Cheers!

[2015-02-07 06:01] alto commented on #210
@ksylvest Which version of _AASM_ are you using? Are you using _ActiveRecord_?

[2015-02-07 06:02] ksylvest commented on #210
@alto v4.0.8. Yes (AR).

[2015-02-07 15:07] zeitnot commented on #207
Hi @alto,

I found the problem. The problem is coming form `kaminari` gem. I have created a sample repo [here][0]. If you want you can reproduce the error with this repo. What should I do right now? Should I open an issue on kaminari's page?

[0]: https://github.com/zeitnot/aasm-kaminari

[2015-02-09 04:29] alto commented on #207
Let me have a look first :)

[2015-02-09 15:55] youroff opened #211 "Redefining state machine in the subclass"
Is it possible to redefine state machine in subclass in a fancy way (without hacking over instance/class variables)?

[2015-02-10 09:51] alto commented on #211
You mean completely overriding the _AASM_ definitions from the super class and start from scratch?

[2015-02-10 13:22] youroff commented on #211
Well, ideally it would be a set of directives allowing for composition. Like:
remove_state/remove_states
alter_state
(the same for events)
clear

So that some basic state machine would be extensible in subclasses. However, total clean up would be fine too.

Right now, I introduced the additional level of abstraction and attached definition there, but. The solution above would be more flexible.

[2015-02-11 11:52] zeitnot commented on #207
@alto this issue has been fixed by kaminari team. So I am closing this issue.

[2015-02-11 11:52] #207 closed

[2015-02-13 19:15] 23tux opened #212 "Provide description when a transition fails"
Hi,

is it possible to include a description of the cause of the problem, when `AASM::InvalidTransition` is raised? It would be nice to know, why a transition is failing. Maybe

- `AASM::InvalidTransition: Event 'order' cannot transition from 'complete', no transition defined`
- `AASM::InvalidTransition: Event 'order' cannot transition from 'open', guard 'is_available?' returned false`

Is it some

[2015-02-14 08:54] alto commented on #205
@anilmaurya I'm not sure this is really needed. I personally think that a model already exists (in most cases) and people only want to add _AASM_ to it, instead of creating a completely fresh _AASM_ based model from scratch.

Is adding _AASM_ to an existing _ActiveRecord_ class possible with Rails generators as well?

[2015-02-14 08:58] alto commented on #208
Can I take a look onto your _AASM_ definition for `Minion`? So, if you call `minion.ready!` without Sidekiq the status change is stored automatically, but with Sidekiq it's not? Since I'm not familiar with Sidekiq, how do you use it with `perform_async` and `ready!`?

[2015-02-14 09:08] alto commented on #210
@ksylvest Interesting, the lighthouse ticket goes back to 2008. I took over maintaining __AASM_ in 2011 (from version `2.2.1`), and the described behaviour (not calling callbacks for the initial state) was in place even then. I personally think, that this behaviour is correct, since you are actually not entering the initial state. You are already _in_ it when initialising the object.

Which versio

[2015-02-14 09:10] alto commented on #212
That's an interesting idea. Do you want to send in a pull request for this?

[2015-02-14 10:03] ksylvest commented on #210
I'm not upgrading but kind of expected it to fire. I can see how it is somewhat ambiguous if a FSM should fire on enter but when Googling around the Lighthouse was the first result (mentioning the functionality worked in the opposite manner).

[2015-02-14 10:07] 23tux commented on #212
I had a quick look into the aasm source code, and the only place where the `AASM::InvalidTransition` exception is raised is at `aasm.rb:132` inside the `aasm_failed(event_name, old_state)` method. However, the `aasm_failed` method is called from the `aasm_fire_event` method in the same class. And to determine if a transition is failing, it calls the `may_fire` and `fire` method of the `AASM::Core:

[2015-02-14 10:11] 23tux commented on #212
One easy thing to extend would be to include the `to` state when the exception is raised. Something like

    AASM::InvalidTransition: Event 'order' cannot transition from 'failed' to 'completed'

would also be helpful.

[2015-02-14 14:10] lazywei commented on #208
Sure, thanks for your help!
My code has some changed since this issue, but the underlying problem is the same.

AASM Settings:
[code]

My Sidekiq worker: (please note the comment for problem description)
[code]

Thanks!

[2015-02-16 15:26] anilmaurya commented on #205
@alto yes, its possible. when I said

    which will add

    class Model < ActiveRecord::Base
      include AASM

      aasm  do

      end
     end

I meant, If model does not exist then create new model with assm block else append aasm block to the existing model.

[2015-02-19 07:53] alto commented on #205
Well, then I'm looking forward to get your pull request @anilmaurya!

[2015-02-21 01:50] awsmsrc opened #213 "AASM::InvalidTransition doesnt reference the object"
It would be super handy if this error was initialized with a reference to the object and the requested state.

That way we could still construct the same error response but also do something intelligent without having to parse a string when rescuing from the error/exception.

Happy to make this patch myself but wanted to know if it would be considered

[2015-02-21 02:32] alto commented on #210
I see. I would like to go with the current way. Can I close this ticket then?

[2015-02-21 02:40] ksylvest commented on #210
Yup.

[2015-02-21 08:28] alto commented on #210
Cheers!

[2015-02-21 08:28] #210 closed

[2015-02-21 08:37] alto commented on #108
@Soleone Sorry, I almost forgot about your request. Strolling over your more complex example, I understand your problem (and wish to clean it up / optimise it). I will keep this issue to come back later on, but for now it's just a nice-to-have for me.

Feel free to send a pull request in order to speed things up. :+1:

[2015-02-21 08:40] alto commented on #127
@glebe Does the workaround provided by @opti (thanks a lot for that!) work for you?

[2015-02-21 08:42] alto commented on #158
Sorry for the long delay with this issue. This is definitely a bigger change to _AASM_.

[2015-02-21 09:13] alto commented on #208
There are a couple of methods defined per _AASM_ event, see `lib/aasm/base.rb` within the _AASM_ gem. Could you please add a `puts "---------- called with a bang!"` to the method definition of the `run!` bang method? Like this

[code]

After that, run your code with Sidekiq and the using the bang method `run!` (instead of `run` and `save`). Let's see if the output line _------------- called with b

[2015-02-21 09:22] alto commented on #213
Nice idea. Looking forward to get a pull request for this! :+1:

[2015-02-21 10:00] alto commented on #211
That's not possible with _AASM_, I'm sorry.

[2015-02-21 14:41] youroff commented on #211
I see that it's not possible right now, but would you accept this functionality as pull-request? I see that it's half way done, function for state declaration rewrites state exactly for the case of inheritance. I assume it may be not that difficult to use the same approach for the methods I suggested.

[2015-02-23 08:20] alto commented on #206
Thanks to @Shwetakale this has been fixed. :+1:

I will release a new version soon.

[2015-02-23 08:20] #206 closed

[2015-02-23 08:47] alto commented on #206
I just released version `4.1.0` including the changes.

[2015-02-23 09:16] Shwetakale commented on #206
@alto Thanks :)

[2015-02-23 15:55] Soleone commented on #108
thanks, appreciate you checking the example out! i probably won't get to digging into the source any time soon, but i'll keep it in mind.

i did notice a bug today in my application logic because of a gotcha in this line here:

    state :phone, after_exit: [:clear_calls_if_finished, :emit_active_calls_count_if_finished]

now in my method `clear_calls_if_finished` i am updating a column on my mode

[2015-02-24 08:12] alto commented on #108
@Soleone Hmm, interesting question. I suggest you open a new ticket to clarify this ("reliably only in `after`"), and I will try to find an appropriate answer to this. Reason why I'm asking to create another ticket is, that I don't to let the current ticket get too long (and it's off-topic from decoupled callbacks).

[2015-02-25 06:39] oozzal commented on #61
@alto The only reason I'm still using state_machine. Any plans on supporting this?

[2015-02-25 08:00] alto commented on #61
@oozzal Yes, it's currently planned for the `4.2.0` release (see #158 for details). But to be honest, it's quite a lot of work, since it is almost a complete rewrite of _AASM_.

[2015-02-25 22:51] daveharris opened #216 "Not using may_xxxx? correctly?"
Hi,

I have a requirement that if the state transitions from failed -> validated, there must be a user provided reason.
I have this aasm definition:

[code]

This all works fine when using `validate!`, however the transition goes through when it's being updated via `update_attributes`. Unfortunately, the state needs to come from a select dropdown, so it must use  `update_attributes` rather than a

[2015-02-27 11:10] SirRawlins commented on #156
@aditya-kapoor @alto did either of you guys make much progress on this? I've got a use case at the moment which would benefit from firing these callbacks when entering the initial state.

[2015-03-07 09:14] alto commented on #216
Hi @daveharris,

Regarding your first question, there is no transition from `:failed` to `:failed`. Any `may_xxxx?` call asks for such a transition, which is why `may_validate?` returns `false`, always.

Why is it like that (and this touches your second question)? _AASM_ is designed around state machine semantics, so there are things like _states_, _transitions_ and _events_. Directly accessing (s

[2015-03-07 09:55] #213 closed

[2015-03-08 22:16] daveharris commented on #216
Hi,
Thanks for getting back to me. As the user could set the state to any state it wasn't really a state machine anyway and I felt like I was swimming against the tide and making hard for myself so I just used a normal attribute with active_model validations instead.

Thanks for the comment about needing a state transition to itself, that makes a lot of sense now.

Thanks for your advice - I reali

[2015-03-08 22:16] #216 closed

[2015-03-10 09:19] alto commented on #156
@SirRawlins No, I didn't work on this and was – not actively – waiting for @aditya-kapoor .

[2015-03-11 07:00] aditya-kapoor commented on #156
Hi everyone,
Due to my ongoing commitments with the current job, I am not able to complete it in time. I would make time for this task and would complete it ASAP.

[2015-03-11 13:59] lazywei commented on #208
Do you mean add the `puts` to the source of aasm (`lib/aasm/base.rb`) or to my code?
I assume you were meaning put it to the `lib/aasm/base.rb`. I'm using aasm 4.1.0, and I put it under the line 79, and I confirm the `------------- called with bang!` pops up.

[2015-03-11 16:22] lazywei commented on #208
Sorry, I just found that this is actually caused by race condition. The `create_on_firebase!` will do some async things and will save itself in the end of async things, which results in weird status in the minion. Therefore, this is my stupid bug, not the aasm's. Sorry for wasting your time :(, and thanks for helping me out even it is not aasm's bug.

[2015-03-11 16:22] #208 closed

[2015-03-12 08:26] awendt opened #221 "Logging transitions with DRY code?"
With a fairly complex state machine, we'd like to log transitions so we know how we ended up in the current user state. For each transition, we'll need:

- `aasm.from_state`
- `aasm.to_state`
- `aasm.current_event`

According to the docs:

This means we'll go from this:

      transitions from:   :initialized,
                  to:     :mismatched

to this:

      transitions from:   :initialized,

[2015-03-12 08:50] alto commented on #221
@awendt There's already a ticket for something similar (take a look at #108). Would that help you?

What you could do now already is to use methods instead of a `Proc`, like this:

[code]

[2015-03-12 10:06] awendt commented on #221
@alto Thanks for your quick reply. Anything that involves me declaring "I want this code to run after every transition" just _once_ helps here :)

I found #108 but failed to see a connection. After more careful reading I found [this comment](https://github.com/aasm/aasm/issues/108#issuecomment-69034662):

So, yes, that exactly describes the issue I'm having.

I think I will switch to symbols and a

[2015-03-17 03:12] YaqiBamo opened #222 "after_commit can't be triggered when state is defined with enums"
I define the state with enum as following, the after works well, but the after_commit seems never to be triggered.
My Rails is 4.1.8 and aasm is 4.1.

<pre>
enum state: [:cancelled, :submitted, :rejected, :approved]
...

aasm :column => :state, :enum => true, :whiny_transitions => false do
    state :submitted, initial: true
    state :cancelled
    state :rejected
    state :approved

    event :

[2015-03-18 22:10] TrangPham commented on #172
:+1: to define state the way events are defined

[2015-03-19 07:24] vfa-danhnt opened #223 "How to stub or config :no_direct_assignment to false when make rspec on rails?"
Hi all,

I am newbie AASM. I just tried to use AASM on my project.
I have a problem: at Model
<pre>
<code class=ruby>
class Job
  include AASM

  aasm :no_direct_assignment => true do
    state :sleeping, :initial => true
    state :running
    state :cleaning
    event :run do
      transitions :from => :sleeping, :to => :running
    end
    event :clean do
      transitions :from => :running, :t

[2015-03-19 09:46] #222 closed

[2015-03-19 20:39] hlin-blurb commented on #191
I'm on version `4.1.0`, and I see this bug:

[code]

[2015-03-23 12:44] rdetert commented on #174
I'm not sure how this is even really possible. I'm coding this part right now and I've made my own `next_state!` method which is just a series of if-then statements. This only really works for a simple linear graph with no loops like I have in my current app. Otherwise it will just get overly complicated.

[2015-03-25 14:59] take-five opened #224 "after_commit callbacks within transitions"
Hi,

I want to trigger different callbacks on certain transitions within one event.

[code]

It works like a charm, but the problem here is that these callbacks get fired right after transition, even before any changes got persisted in DB. In my case callbacks enqueue Sidekiq jobs and cannot be rolled back. If any error occur during persisting record in DB, these jobs would be enqueued anyway, and

[2015-04-02 14:51] ivantsepp opened #226 "Graphviz diagrams"
I was interested in generating state machine diagrams for the classes that use aasm and was researching how I would go about that. In the end, I found out that the other ruby state machine gems have this option. Would you be open to having this feature implemented in aasm? I would be interested in implementing if so!

[2015-04-02 21:45] leofischer commented on #158
+1

[2015-04-07 05:27] sivagollapalli commented on #223
@vfa-danhnt Have you tried `allow(AASM::Configuration).to receive(:no_direct_assignment).and_return(false)` this way?

[2015-04-13 14:00] Danielpk commented on #191
I'm at version `4.1.0` and still get same error:

[code]
Also my object don`t transition to next state:
Ex:
[code]

[2015-04-13 14:38] Danielpk commented on #191
Never mind what i said, there was one module overwriting the state method.

[2015-04-22 09:02] alto commented on #226
Hi @ivantsepp

I'm undecided. I can imagine that this is of value for some users. On the other hand, I don't want to bloat the codebase and don't think it's the core functionality of a state machine.

What do you think of adding another repo (gem) to the _aasm_ organisation, which adds this functionality to _AASM_?

[2015-04-22 09:27] alto commented on #223
Hi @vfa-danhnt

You can always change the configuration like this:

[code]

Does that work for you?

[2015-04-22 09:37] alto commented on #224
@take-five

There are `after_commit` callbacks on events, which you can use to do something like this:

[code]

This could be written more concisely or nicely, but you get the idea.

Does that help?

[2015-04-23 08:26] ShallmentMo commented on #158
I'm facing this problem, too. But I wanna ask if I can use like this

[code]

I just set class.aasm.attribute_name before every event trigger, is it OK, or it will bring some problem?

[2015-04-24 09:53] ashlinchak commented on #158
You can't. AASM use only one state per model. We all are waiting for 4.2.0 where AASM will have multi state support.

[2015-04-25 03:56] ShallmentMo commented on #158
I wanna know whether it will cause some side-effect

[2015-04-30 15:28] kitop commented on #226
This would be really helpful!
+1 to the idea of doing this in another repo/gem. I'm glad to help if needed!

[2015-04-30 15:32] ivantsepp commented on #226
Hey sorry for the late response, a separate repo/gem is a great idea! Any ideas on what the api would look like? Would it be a command line like `aasm-graph file_name.rb`?

Here was the code I used to generate my graphs (I just made it print out these edge commands which I then copied to the graphviz file)

[code]

[2015-04-30 15:36] kitop commented on #226
@ivantsepp that's pretty helpful :)

Just updated your code to work with the latest version of `aasm`:

[code]

[2015-05-04 09:27] alto commented on #226
Let's get started with this. I created a [new repo](https://github.com/aasm/aasm_graph), and invited both of you as collaborators to that project. Looking forward to see things growing!

[2015-05-04 09:56] alto commented on #158
@ShallmentMo The only side-effect I see is that it is error-prone and hard to read and use for other developers. Technically that should even work. Do you use it already like this?

[2015-05-04 12:29] ShallmentMo commented on #158
@alto ,I guess I will not use it in this way. I just added some method and made it like event, then looking forward for v4.2

[2015-05-04 14:53] kitop commented on #226
@alto Awesome! Thanks!
Will start coding something this week!

[2015-05-04 17:58] ivantsepp commented on #226
:+1: will also find some time this week to help out!

[2015-05-08 11:36] supertinou opened #229 "Rollback state change when a callback transaction fail"
# Rollback state change when a callback transaction fail

Is there a way for assm to be able to rollback the state change if a transaction in the callback fail in order to not let the database inconsistent ?

*Considering this example :*
[code]

Imagine that this callback would bring some extra changes to the model that would make it reflects its new state. In case this changes fail for whatever r

[2015-05-08 11:38] supertinou commented on #147
:+1:

[2015-05-08 11:40] supertinou commented on #229
https://github.com/aasm/aasm/issues/117 seems to be linked.

[2015-05-12 21:13] hpoydar commented on #224
So it's safe to say that putting jobs into a queue that depend on the persisted end state of the object need to be in an after_commit callback, no?

Can the DSL handle blocks for both the after and after_commit callbacks like this?

    aasm do

      state :created
      state :active

      event :activate
        after_commit do
          do_something_job_will_need!
          Job.perform_later(

[2015-05-13 06:57] alto commented on #224
@hpoydar Yes, please use `after_commit` event callbacks for that.

I just released version `4.1.1`, including a patch with which the block notation for `after_commit` callbacks is supported all (`after` was supported before). So, both callbacks support the block notation now.

Make sure to add a `do` at the end of line `event :activate` though!

[2015-05-13 06:57] alto commented on #224
@take-five I assume your problem is solved. Closing this issue now.

[2015-05-13 06:57] #224 closed

[2015-05-13 09:32] alto commented on #226
Let's move this issue over to the [new repo](https://github.com/aasm/aasm_graph).

[2015-05-13 09:32] #226 closed

[2015-05-21 22:33] rschooley opened #230 "Do transitions lock models?"
I am reading an article from someone at Engine Yard that talks about adding concurrency to aasm.  The article was written 5 years ago; is it still necessary to add this behavior in to aasm?

ref:
http://rhnh.net/2010/07/05/acts-as-state-machine-is-not-concurrent

[2015-05-22 21:36] ksylvest opened #231 "Argument Mismatch in may_fire? From aasm_fire_event"
In `aasm/aasm.rb` (https://github.com/aasm/aasm/blob/master/lib/aasm/aasm.rb#L71) the code sends one argument then an argument splat:

[code]

In `aasm/core/event.rb` (https://github.com/aasm/aasm/blob/master/lib/aasm/core/event.rb#L21) the definition takes two arguments then an argument splat:

[code]

Therefore if one is calling something like:

[code]

[2015-05-22 21:45] #231 closed

[2015-05-22 21:45] ksylvest commented on #231
My mistake, miss read documentation that the first argument needs to be the state.

[2015-05-26 10:20] ilp416 opened #232 "Simple syntacsis"
Hi. Thank you for this gem.
Can i use more simple ruby style to define transitions:
transitions from: :fresh, to: :wayting_account
instead
transitions :from => :fresh, :to => :wayting_account
?

[2015-05-26 10:23] ilp416 commented on #232
Sorry i'm stupid.

[2015-05-26 10:23] #232 closed

[2015-05-26 10:25] alto commented on #232
Sure. It's not an _AASM_ feature, it came with Ruby MRI version 1.9 .

[2015-05-26 10:26] alto commented on #232
No worries :)

[2015-05-26 11:01] ilp416 opened #233 "Parameters to events functions"
Ok, i need to save who, where and what transition began. For this I have model OrderOperation(order_id, user_id, date, state).
Good idea to use callbacks, but i need to transfer in callback method some parameters (In my case current_user).
How do i can this? Thanks/

[2015-05-26 11:08] ilp416 commented on #233
Oh, i need to have parameters on event methods, like as
order.making_account! by_user: current_user

[2015-05-26 16:02] chrisyeung1121 opened #234 "cannot rename state column"
i tried to change aasm_state to account_state with following code:

[code]

And I added the migration accordingly.

[code]

However when I try to create an user, following error still applied. I tried restarting rails s and rails c already.

[2015-05-29 04:16] toobulkeh commented on #223
neither of these worked for me.
This is important to use for migrations where we temporarily want to allow direct assignment when changing data on the backend.

[2015-05-29 04:21] alto commented on #223
@toobulkeh  I will take a closer look then today.

[2015-05-29 10:48] alto commented on #223
@toobulkeh Yes, you are right. My suggestion didn't work.

I fixed this now, allowing to use

[code]

The change will be released with the upcoming minor update `4.2.0`. Feel free to use it now (using the *master* branch).

[2015-05-29 11:43] alto commented on #229
@supertinou I'm not 100% sure I get for you are after.

How did you trigger the state-change event? What does `notify_a_to_b_transition` return in case of an error (when the inner transaction fails)? Or does it throw an exception?

_AASM_ is built to set a transaction around the state-change and almost all callbacks as well. If you think it doesn't work, it would be helpful to send in a failing te

[2015-05-29 12:09] alto commented on #230
No, _AASM_ does not lock the database table row. I think it's overhead and not the responsibility of a state machine. _AASM_ operates on a loaded (fetched) object from the database and writes back its new state. In order to cover that concurrency problem, _AASM_ would need to lock the row, re-fetch the current state from the database, set the new state (or fail if the transition is not allowed any

[2015-05-29 12:09] #230 closed

[2015-05-29 12:15] alto commented on #233
Could you add some more details, please?

How does your model look like? Which callbacks are there? When do you want to provide which parameters to which callback?

Take a look at [the README, section Callbacks](https://github.com/aasm/aasm/#callbacks). I think it helps in your situation.

[2015-05-29 12:16] alto commented on #234
Which version of _AASM_ are you using? And do you have a backtrace for me?

[2015-05-29 12:27] alto commented on #161
No reply since August 2014. Closing for now. Let me know if you have further questions.

[2015-05-29 12:27] #161 closed

[2015-05-29 12:30] alto commented on #163
Closing for now. Let me know if you have further questions or suggestions.

[2015-05-29 12:30] #163 closed

[2015-05-29 12:35] alto commented on #174
@bigtunacan @maletor @rdetert I agree.

Closing (and denying) this feature request. Sorry @kibaekr !

[2015-05-29 12:35] #174 closed

[2015-05-29 14:36] toobulkeh commented on #223
Thanks!

[2015-05-31 03:20] paulwalker opened #235 "When enum option is true, is the state definition redundancy necessary?"
It seems as if, by default, the enum field could be read on the Model class rather than requiring the redundant definition of states? If there is a desired difference, allow for an option indicating not to introspect the field?

[2015-06-02 10:32] alto commented on #235
@paulwalker I think you're right. At least reading the states from enum field is a good start and having to define the same states again is redundant.

Two thoughts though:

1. _AASM_ has to assume that the first enum option is meant to be the initial state. If that's not what you like, then you have to set the initial using `state :name, initial: true`.
2. For defining state callbacks you still h

[2015-06-12 13:07] brega opened #236 "Success callbacks for transitions"
Do you think success callbacks
- defined on transitions
- trigger after the state is persisted

is something worth considering and sending a patch for?

Use case is something like
[code]

Success callbacks would perform work specific to the transition path and would have to run only after state transition is successful.

New order of calling would be something like
[code]

[2015-06-15 05:04] MadisonRong opened #237 "can't use int type in DB?"
I have a field called "status" in my DB. Thus, I wanna use AASM without changing structure of my DB.
Can I do that?
here is my code:
[code]

And, no matter I called `card.publish` or `card.delete`, I got this error below:
[code]

[2015-06-15 11:13] ilp416 commented on #233
ok.
order.rb
[code]
orders_controller.erb
[code]
I can't include fix_event in aasm method, because i can't send current user in event function.
For example i need somethings like this:
[code]

[2015-06-19 04:03] alto commented on #237
Is the example correct? Shouldn't it be

[code]

and

[code]

?

[2015-06-19 04:12] MadisonRong commented on #237
oh, I'm sorry. I have edit my code.And I do it like you just commented but it also doesn't work.

[2015-06-19 04:13] alto commented on #237
With the same error message and backtrace?

[2015-06-19 04:15] MadisonRong commented on #237
oh, forgot to update that.wait a sec...

[2015-06-19 04:17] MadisonRong commented on #237
ok, done...

[2015-06-19 04:28] MadisonRong commented on #237
damm, I just created a new project for test. It worked!!_(:з」∠)_can you tell me why

[2015-06-19 04:29] alto commented on #237
No, but I copied your example into the test suite, and it worked, too. Maybe some dependency? Hmmm...

[2015-06-19 06:39] MadisonRong commented on #237
I found that I will get that error when using a string type in my DB.Can't use enum when state is string type in DB?

[2015-06-19 08:16] MadisonRong commented on #237
ok, now, it's more wired.I change my column back to integer type, and all setting like example.I can't run in sidekiq, but it worked in rails c.

[2015-06-20 15:56] sponomarev commented on #158
:+1:

[2015-06-21 09:33] alto commented on #237
You don't get the error, if the table column is defined as `integer` but with `string`? I double-checked that in the _AASM_ test suite, and no, that doesn't make any difference. It works with both, `string` and `integer`.

Question: it works in your new app, you say, right? Does it work with `string` and `integer`?

[2015-06-23 09:26] alto commented on #236
Hi @brega

so, it's basically doing the same thing as event `:success` callbacks, but per transition? What's the benefit from having that, if you could ask for the event name triggered, and the _from_ and _to_ state in the event `:success` callback?

[2015-06-23 09:29] alto commented on #236
Hmm, maybe it helps cleaner code... thinking about it.

[2015-06-23 09:44] alto commented on #223
I just released version `4.2.0` including the patch.

[2015-06-23 09:44] #223 closed

[2015-06-23 10:05] brega commented on #236
Hi @alto

Yes, thats correct. It does the same as event `:success` callbacks. We have code like

[code]

If we enquire the `from` and `to` from event `:success` callback, we can work, not something I considered . But the callback would be riddled with if else for each transition in there like you noted.

[2015-07-02 03:59] MadisonRong commented on #237
Sorry for replying you so long.I have something to process over the past 10 days.
I try it in a new app today.And I found that using `enum` when type of field is `string` will get the error aforementioned.

[2015-07-07 04:25] brega commented on #236
@alto Anything I can do to further this issue

[2015-07-08 18:17] throttleup commented on #192
Possibly separate issue. bang methods don't seem to transition new_records when `skip_validation_on_save` is true. It will set the value back to `old_value` as the `update_all` won't match any records `where(self.class.primary_key => self.id)`

[2015-07-08 20:28] alto commented on #192
@throttleup Yep, that sounds like a bug. Could you please open another issue for that?

[2015-07-10 09:03] fist28 commented on #158
@alto When can we expect to close the PR?
I'll need to use state machine with this feature. I have a dilemma - wait for close close #240 or use another gem.

[2015-07-10 09:45] alto commented on #158
@fist28 It's still in progress, since a lot of changes have to be made. Works fine for pure Ruby already. I'm currently on the _ActiveRecord_ side of _AASM_. Is it Rails you want to use it for? It would be helpful to get feedback from a real Rails app.

[2015-07-10 10:00] fist28 commented on #158
My application uses the Rails 4.2

[2015-07-10 10:55] alto commented on #158
@fist28 Feel free to try out the branch _multiple_state_machines_per_class_ and let me know how it works. See comments #240 for how to use it.

[2015-07-13 10:56] fist28 commented on #158
@alto I can't use Transaction support.
If I use this, then i see "test" message on first call SomeModel, for ex. SomeModel.first then I see first record and "test".
[code]

I tried also to use block `after_commit` inside event but, then I have never seen a message.
Am I doing something wrong or it's bug?

[2015-07-16 01:08] danielfone opened #241 "after_commit fires even when a transaction is rolled back"
Just want to check whether this is intended behaviour. If so, I think some additional documentation would be helpful to clarify the behaviour of aasm's `after_commit` callback, since the current behaviour is very counter intuitive. I've written [a small example to demonstrate the behaviour below](https://gist.github.com/danielfone/5d77d71313bf758d980e#file-aasm_after_commit-rb-L38-L46).

**Steps t

[2015-07-16 01:11] danielfone commented on #241
If this is not the desired behaviour, I'm happy to explore a PR. Without looking too hard, I think it'd need to tie into ActiveRecord's callbacks rather than [fire its own callbacks](https://github.com/aasm/aasm/blob/4ea38fc6fc9a3bcf728280c93ec362d1d1df1e32/lib/aasm/persistence/active_record_persistence.rb#L179)

[2015-07-16 22:19] Ricardonacif commented on #158
I'll also try to use that branch and I'll let you know if it's working.

[2015-07-16 22:29] alto commented on #158
@Ricardonacif Cheers!

[2015-07-16 22:36] Ricardonacif commented on #158
Just tried here, one problem that I faced, the initial state machine of the second field (the one I've just added) gets the string value of the first state machine column initial state. Any idea why? Should I set a default on the database migration?

[2015-07-20 08:14] alto commented on #158
@Ricardonacif Let me try to replicate it with a test.

[2015-07-20 08:53] alto commented on #158
@Ricardonacif I assume you created your state machines like this:

[code]

Is that correct? If so, please try doing this:

[code]

That's actually a good question. Maybe I use the state machine's name (like `:search` or `:sync`) as default name for the _ActiveRecord_ column (instead of _AASM_'s default `:aasm_state`). And use the latter only if no state machine name has been provided.

[2015-07-20 09:12] alto commented on #158
@Ricardonacif I implemented it that way no. Please try out the latest version (on the _multiple_state_machines_per_class_ branch) with your example. Does it work?

[2015-07-20 20:55] throttleup opened #242 "Bang methods don't transition new_records when skip_validation_on_save is true"
It will set the value back to old_value as the update_all won't match any records where(self.class.primary_key => self.id) as self.id doesn't exist

See https://github.com/aasm/aasm/blob/master/lib/aasm/persistence/active_record_persistence.rb#L87-L89

Makes some transitions harder from other state machine gems

Example:

[code]
spec
[code]

[2015-07-21 05:20] alto commented on #242
@throttleup Very detailed issue, with lots of useful hints and even a test. Really appreciated!

I will take a look tonight.

[2015-07-21 05:21] alto commented on #192
@throttleup Is that #242 then?

[2015-07-21 10:21] alto commented on #242
Hmm, after having a look into this issue, I'm not sure what to do. The current behaviour is definitely wrong. The `:skip_validation_on_save` feature has been built with an already saved object in mind. So basically that switch is used to decide whether the whole object or just the _AASM_ status is updated.

There are three options available, if the object by itself hasn't been persisted before, an

[2015-07-21 15:22] throttleup commented on #242
I kind of think it should keep with the same semantics as existing records. Meaning it would skip validation in either create or update.

The flag itself is pretty explicitly calling out to the user that they are probably doing something not so great by skipping validation, but I don't think that validation should be skipped when updating and not when creating.

Two reasons I think making the beha

[2015-07-21 20:21] throttleup commented on #192
it is

[2015-07-30 00:10] fabioperrella commented on #152
@alto I can try to do this. What branch should I use?

[2015-07-30 00:15] alto commented on #152
@fabioperrella ?

[2015-07-30 00:45] robbiegill opened #243 "bang methods persist ActiveRecord models even if the AR model after_save raises some errors"
Scenario: An ActiveRecord model has an after_save callback that can raise errors. When calling save on such a model, the transaction will be rolled back and the updates not persisted in the database.

Problem: Using an aasm bang method to induce the save will persist the changes.

In the following spec, raising `ActiveRecord::Rollback` or `ActiveRecord::RecordInvalid` in the doom model's `after_sa

[2015-07-30 22:56] fabioperrella commented on #152
@alto I was looking for some issue to contribute, if you want, I will try to send you a pull request. I asked in what branch should I work on it ?

[2015-07-30 23:04] alto commented on #152
@fabioperrella Ah, now I understand. There are two main branches currently worked on, _master_ and _multiple_state_machines_per_class_. I would recommend to branch from _master_, because the multiple one is changing quite a lot.

Thanks for your help. I really appreciate this!

[2015-08-01 00:44] fabioperrella commented on #152
@michaeldickens I tryed to reproduce your error but I couldn't. I created a class using aasm and didn't migrated the DB (the column aasm does not exist), then when I called the method .aasm_state, it raised the error NoMethodError: undefined method `aasm_state' for #<Account id: nil, name: "aa">
I used the last stable version of aasm (4.2.0) and rails 4.2.3
Which versions were you using?

[2015-08-03 03:13] igorbelo commented on #243
It seems that `aasm` creates its own transaction events are called with bang.
[See this line](https://github.com/aasm/aasm/blob/44a17aa5357d60e20cbd1a5da4a27063e113ffa2/lib/aasm/persistence/active_record_persistence.rb#L175)

aasm transaction is the most external transaction and your callback is at the most internal transaction, so what happens when you raise an `ActiveRecord::Rollback` inside you

[2015-08-07 16:41] robbiegill commented on #243
Yes, that is how aasm's implementation works, but the outcome is _very_ undesirable.

In the simplest ActiveRecord case, `model.next_state!` should be equivalent to `model.aasm_state = 'next_state'; model.save`. With the exception described above, both will return false, but one will persist and the other will not.

[2015-08-08 23:16] marcrohloff commented on #169
I think it might make sense to make current_event always the non-banged symbol. This would make conditionals easier, for example, you cannot currently do `if aasm.current_event==:run`. The options could always be saved in a different atttribute (`event_options`?) in case it is necessary to decide between bang and non-bang event calls.

[2015-08-10 03:51] waynn commented on #221
@awendt How exactly are you using alias_method_chain with this? I'm running into the same problem, are you including it in the `aasm` declaration?

[2015-08-10 10:33] awendt commented on #221
@waynn I settled for a duplicated `after:  :track_event` for each transition. Sorry.

[2015-08-12 22:07] trek opened #246 "`before` not available on `transitions` block argument"
valid keys there are `[:on_transition, :guard, :after]`

[code]

But the README shows an example of using before:

[code]

[2015-08-19 16:24] reconstructions opened #248 "Rspec 'raise_error' test fails when error is caught by AASM event rescue block"
I am trying to test an AASM state transition using Rspec and StripeMock:

[code]

The test that isn't working is a model unit test for Card.  I am using ` StripeMock.prepare_card_error` to mock the error, my `begin rescue end` block is throwing an error like it should and invoking`rescue`, but my Rspec `raise_error` test fails when it should pass:

[code]

[code]

Using pry I am sure that a `Strip

[2015-08-24 07:44] reicheltd opened #249 "bang! method not working with custom validator"
I am trying to lock down my object attributes to prevent the object from being deleted, when it has  the `fooled ` state. I cant transition to `fooled` when I have the validator in place. Rails 4.2.3 with aasm 4.2.0

    state :fooled
    event :fool do
       transitions from: :some_state, to: :fooled
    end

    validate  :lock_down_attributes, if: :fooled?

    def lock_down_attributes

[2015-08-24 07:59] alto commented on #249
@reicheltd How did you configure _AASM_ for that particular class (did you overwrite the default behaviour for `:skip_validation_on_save` for example)? What do the three methods `attribute*_changed?` do? Is there actually a validation error happening? Maybe you could show me what `Object.errors.full_messages` looks like?

[2015-08-24 08:01] alto commented on #243
@robbiegill I will come back to that issue as soon as possible. First I want to get support for multiple state machines in one class out of the door (see #158).

[2015-08-24 08:02] alto commented on #246
I will take a look.

[2015-08-24 08:12] alto commented on #248
@reconstructions Which persistence backend do you use (if any)? Maybe the exception is caught in the _ActiveRecord_ transaction block I'm wrapping `process!` in. If you are using _ActiveRecord_ you could try out two things (independently from each other):

1. use `:after_commit` instead of `:after`
2. use `process` instead of `process!` (yes it does not persist the state anymore, but I'm just inte

[2015-08-24 10:04] zenati opened #250 "How to return desired value after `error do`"
[code]

I'm using guards with error callback. What I need to acheive is
- If guard returns false, than error callback is invoked and false is returned on `.paid?` call

Is it possible?

Using the code above, the error cb is never called.

[2015-08-24 15:59] reicheltd commented on #249
@alto Hey. My aasm config for that class is very simple. Just some states and some transitions. Like in the aasm docs. No additional params, callbacks or options. The `_changed?` method is a rails method http://api.rubyonrails.org/classes/ActiveModel/Dirty.html#method-i-changed-3F that tells me if an attributes has changed. Yes there is a validation error, its the message from the `lock_down_attri

[2015-08-25 13:03] McRip commented on #147
:+1:

[2015-08-27 06:25] alto commented on #250
@zenati It's currently not possible, but it's actually a good idea. I would like to keep the `:error` callback for real errors though. What do you think of this:

[code]

[2015-08-27 06:37] alto commented on #246
@trek Indeed, the `:before` callback on transitions is not supported. With #251 the README got changed accordingly.

Do you have a use case for the callback on transitions?

[2015-08-27 15:08] trek commented on #246
No use cases. Just wanted to know which was correct, docs or impl.

[2015-08-28 16:34] reconstructions commented on #248
Thanks for the helpful suggestions, I am using FactoryGirl, I tried changing process! to process, but the result was the same.  Here is the code I use to create my objects and walk them through my state transitions:

[code]

As you can see I have to add an extra line at the bottom of each subject block to return the object rather than the TrueClass returned by the AASM event.  I tried commenting o

[2015-09-04 17:16] fabn opened #253 "Global callbacks"
It would be nice (mostly for auditing purpose) to have a set of global callbacks in this gem, something like

[code]

What do you think?

[2015-09-05 00:25] daniely opened #254 "Problem with fixtures?"
If I add aasm (with a default state) to my `User` model and create a user instance through a fixture it will not have the default state set. This causes problems because any transitions from one state to another will not work since the default state is `nil`.

This might not be a problem with aasm per se but I'm wondering what's the best way to deal with this. Maybe some documentation could be add

[2015-09-05 12:48] fabn opened #255 "Why multiple to states are accepted?"
I just made a typo in one of my projects by declaring multiple to states in a `to` param as in

[code]

When I call `job.something` final state is always `usable`. What is the reason to accept an array as `to` arguments?

I wasn't able to find any example in the documentation with an array in `to` states, so I assume this is a bug.

Shouldn't aasm raise an error in this case?

[2015-09-07 10:09] alto commented on #255
@fabn Very interesting! Thanks for pointing that out, I consider it a bug :+1:

[2015-09-07 10:41] alto commented on #255
@fabn Haha, now I got lost in my own gem. It's actually not a bug, it's a feature (did I just say this?). But it's one I don't use myself.

Consider this:

[code]

Then you can do this:

[code]

As I said, I don't need nor use it. But it's possible. It's not reflected in the README, as I want to keep that readable and concise.

[2015-09-07 10:41] #255 closed

[2015-09-07 10:47] fabn commented on #255
@alto got it, thanks for the explanation.

[2015-09-08 08:20] eirvandelden commented on #236
We could certainly use this functionality :+1:

[2015-09-08 13:39] danil commented on #158
+1

[2015-09-09 19:03] jeremywadsack commented on #253
+1 I was just looking at how to do this so that we can track even transition timing (and other such metrics).

[2015-09-09 19:13] jeremywadsack commented on #253
This looks similar to #221 and #108 which is what I really want. Because I want to decorate an existing AASM model (defined in a shared gem) with callbacks (that are specific to the app) but apply the same code all transitions.

[2015-09-10 10:02] alto commented on #158
Okay. I just released version `4.3.0`, which adds support for multiple state machines per class. Looking forward to see it in the wild and to hear if there are any concerns or problems.

Thanks to everyone for requesting this feature (it's good to know what's important to users)!

[2015-09-10 10:02] #158 closed

[2015-09-10 15:43] rposborne commented on #253
+1

[2015-09-11 09:36] alto commented on #246
Can I close the issue then?

[2015-09-11 09:42] alto commented on #147
Now I have time for new features again. Having rspec matchers or minitest assertions available for _AASM_ would be a great feature.

Should that be part of a core _AASM_ or more an extra extension gem (e.g. `aasm_rspec` and `aasm_minitest`). What do you think?

[2015-09-11 09:53] McRip commented on #147
In my opinion it should be a core feature. All the other gems i know that provide rspec matchers include these in their core.

[2015-09-11 09:57] alto commented on #147
On the other side, it's increasing the gem size and is not really a core feature of a state machine. In my opinion it's an add-on.

Any other opinions out there?

[2015-09-11 11:15] fabn commented on #147
@alto it would increase gem disk usage (by a few kilobytes) but not the memory usage because they won't be required by library code. They will need to be manually required by user in `spec_helper` file.

Lot of gems already use this approach, see for instance [carrierwave](https://github.com/carrierwaveuploader/carrierwave#testing-with-carrierwave), they provide a [single file](https://github.com/

[2015-09-11 11:18] fabn commented on #147
I've updated the matcher above with the version I'm currently using.

[2015-09-11 14:23] #246 closed

[2015-09-15 10:58] tengcong opened #257 "SystemStackError: stack level too deep happened"
just as the example:

[code]

activerecord 4.2.4

[2015-09-16 17:17] gabrieljoelc commented on #186
I'm using `4.0.8`, but if I use the `if:` options or the guard block, an `AASM::InvalidTransition` exception when invoking a non-bang event transition method. If I remove the guard entirely, it transitions with no exception.

[2015-09-17 05:58] alto commented on #257
@tengcong Which version of _AASM_ are you using?

[2015-09-17 13:36] phuongnd08 commented on #99
@alto Look like after_commit on state no longer effective?

[2015-09-17 20:25] alto commented on #99
@phuongnd08 Yes and no. The `after_commit` hook has been moved from `state` to `event` definitions in _AASM_ version `4.0.0` (see #112 for details on this).

[2015-09-21 03:07] tengcong commented on #257
aasm (4.3.0)

[2015-09-21 03:13] alto commented on #257
@tengcong Hmmm...

Do you have some sort of state machine definition or a backtrace for me?

[2015-09-21 03:19] tengcong commented on #257
[code]

the only backtrace is
`SystemStackError: stack level too deep`

my current workaround is to add
`whiny_transitions: false` to avoid raising errors

[2015-09-21 03:23] alto commented on #257
So, the error is gone once you add `whiny_transitions: false`?

[2015-09-21 03:26] tengcong commented on #257
yes, it just return `false` instead of rasing `SystemStackError: stack level too deep`

[2015-09-21 03:28] alto commented on #257
Can you try out to rescue the `SystemStackError` and print the backtrace?

[2015-09-21 03:34] tengcong commented on #257
exception.class => SystemStackError
exception.message => stack level too deep
exception.backtrace => /Users/congteng/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/activerecord-4.2.4/lib/active_record/connection_adapters/abstract/transaction.rb:187

[2015-09-21 03:38] alto commented on #257
One line is the whole backtrace? Are you sure?

[2015-09-21 03:51] tengcong commented on #257
![image](https://cloud.githubusercontent.com/assets/2024403/9985068/0f2d7942-6057-11e5-89a0-fa41112b81fe.png)

[2015-09-21 03:54] alto commented on #257
Grmpf... Okay, I believe you ;)

[2015-09-21 09:49] alto commented on #257
Do you have a `method_missing` in your model?

[2015-09-21 10:52] alto commented on #257
Or do you use a self-written transaction around the `pass!` call?

[2015-09-22 03:01] tengcong commented on #257
[code]

[2015-09-22 09:25] alto commented on #257
Hmm, that doesn't look all too special. :(

[2015-09-22 09:41] alto commented on #257
How to reproduce the exception? Like this?

[code]

Or do you anything special? Can you reproduce the error in the Rails console?

[2015-09-22 11:09] ankitpatial commented on #234
Hi is this been resolved ?
I am getting the same error i am using aasm (~> 4.3.0).

[2015-09-22 11:42] ankitpatial commented on #234
shouldn't it be aasm.state instead of aasm_state ?

[2015-09-23 03:29] tengcong commented on #257
[code]

[code]

[2015-09-23 10:22] alto commented on #257
I can't replicate the error. If I call – using your `Project` example code, but leave away the `whiny_transitions` options – `Project.create.pass!`, I get

[code]

[2015-09-23 10:23] alto commented on #257
Maybe you could debug into your code or at least put some debug `puts` into `AASM::InvalidTransition: Event 'pass' cannot transition from 'pending'` for example to narrow down the problem.

[2015-09-24 03:16] zhangsoledad commented on #243
you can set `config.requires_new_transaction` true,
it will be
[code]
this will work with nested transactions

[2015-09-24 11:08] alto commented on #234
@ankitpatial I don't think so. We are talking about the database column name, and `aasm_state` is _AASM_'s default name.

[2015-09-24 11:09] alto commented on #234
@chrisyeung1121 Can you send me the version of _AASM_ you are using, and the backtrace of that exception? Otherwise I will close this ticket.

[2015-09-24 12:08] ankitpatial commented on #234
@alto i was talking about the below code
[code]
i was having the similar issue then i realised that with new code i need to do like
[code]

[2015-09-24 22:09] andrewroth commented on #211
Hi Alto,

I'm interested in how to completely clear out the AASM from the super class so that you can start again.  Is there an easy way to do that?  Thanks.

[2015-09-25 17:38] jamesinfmz opened #260 "Allow State#for_select method to output IDs"
Currently the `for_select` method looks like this:

    def for_select
      [display_name, name.to_s]
    end

For database-backed states, it would be useful this the ability for this column return something like `[display_name, <ID column value>]`.

[2015-09-27 10:37] alto commented on #234
@ankitpatial Are you sure you are using `model.aasm.state`? It's not a method provided by _AASM_. `model.aasm.current_state` exists and return the model's current state, and `model.aasm.states` exists which returns all state objects (or permitted only if you ask for it).

[2015-09-27 10:39] alto commented on #211
@youroff Sorry for coming back to this so late. Yes, a pull request would be nice :+1:

[2015-09-27 10:43] alto commented on #211
@andrewroth Since _AASM_ version `4.3.0` this should be sufficient `AASM::StateMachine[MyClass] ||= {}`

[2015-09-27 10:45] ankitpatial commented on #234
Thanks for your patience and digging in, its my misunderstanding of talk, no i am not using that method

Please ignore my earlier comments, i was trying to highlight a point where moving from very old version to current one has difference of calling methods(which was my case).

[2015-09-27 10:48] alto commented on #234
@ankitpatial No worries. I was just confused :+1:

[2015-09-27 10:51] ankitpatial commented on #234
@alto Thanks for such a fantastic Lib.

[2015-09-28 07:10] alto commented on #180
@hectorvs-gxg What do you mean with `#before_state` and `#after_state` methods?

[2015-09-28 07:18] alto commented on #253
Okay, I see your point. Will work on that from now on.

[2015-09-28 07:53] alto commented on #253
Would this be sufficient?

[code]

In `do_logging_or_whatever` you can access `aasm.from_state`, `aasm.to_state` and `aasm.current_event`.

[2015-09-28 12:29] hectorvs-gxg commented on #180
@alto the idea I had was to evaluate these methods on an object that has states to determine if they are before or after another state.

For example, in the graph that you posted:
[code]

[2015-09-28 16:35] jeremywadsack commented on #253
Yeah, that works for me.

[2015-09-28 20:02] anilmaurya commented on #249
@reicheltd If you use bang ( ! ) method than AASM persist changed state by calling `save` on object.

In your case, you have  validation errors when AASM tries to save object that's why its not working for you.

`Object` state is `fooled` when it is being saved hence validation condition (`if: :fooled?`) is satisfied and it checks for `:lock_down_attributes`.

You should write something like this

[2015-09-29 10:42] fabn commented on #253
That would be good. Imho also a before callback would be nice to have a trace in case something goes wrong during transition.

[2015-09-29 14:55] anilmaurya commented on #192
`only_persist_state_on_save` makes more sense for this behaviour . :+1:  for this.

[2015-09-30 15:28] PragTob opened #262 "bang methods don't raise validation errors leading to hard to trace errors"
First of all, thanks for doing aasm :+1:

When a validation error occurs only in a state that I transition to, the `bang!` method returns false, I stay in the old state and I have no idea why the transition failed.

What I would like to have is to have some sort of access to the error, or even better a configuration option that the `bang!` methods raise on validation errors. Maybe that exists and

[2015-09-30 17:21] reicheltd commented on #249
Hey @anilmaurya this seems to work. Thanks!

[2015-10-01 13:15] anilmaurya commented on #249
@reicheltd welcome :relaxed: , @alto I think you can close this issue now.

[2015-10-01 13:39] anilmaurya commented on #262
@PragTob This is not related to #249 .
Currently when you do `a.bam` then state is transitioned from `init`  to `failing`  but its not persisted in database But using `a.bam!` persist changes to database by calling `save` on object.

Its a feature request rather than a bug. May be a configuration option like `raise_error: true` which will save object using `save!` method.

@alto  its required or n

[2015-10-01 16:31] anilmaurya commented on #262
There is already a config option  `whiny_transitions` which is by default true. In my opinion bang method should call  `save!` unless `whiny_transitions: false`

[2015-10-03 10:45] anilmaurya commented on #237
@MadisonRong You are getting this error because you have defined field type as `string` but `enum` values is `integer`, therefore ActiveRecord is not able to map enum key with column value.

To fix this issue, declare enum as

[code]

[2015-10-03 14:45] anilmaurya commented on #156
@alto This feature is already implemented and tested in https://github.com/aasm/aasm/blob/master/spec/models/callbacks/basic.rb . Am I missing something or this issue should be closed ?

[2015-10-06 22:16] reidmorrison commented on #262
:+1 This one caught me unawares too recently. Had not researched it further yet.

Should not be hard to submit a pull request for this change.

[2015-10-06 22:29] reidmorrison opened #267 "Can we add callbacks to parent events in child classes?"
If we create a base class Job that has a before event callback defined:

[code]

Then we create a child class and want to add more callbacks:

[code]

It appears that `event` completely overrides the previous definition for the event so we need to completely respecify the parent event to extend it.

[code]

I am happy to create a pull request if you have any suggestions on how we should go about a

[2015-10-06 22:35] reidmorrison commented on #254
If you are using `FactoryGirl`, try adding the default state to your `User` factory.

Although not ideal it sounds like the factory being used is bypassing the `after_initialize` callback that is used to populate the default state.

[2015-10-07 01:16] daniely commented on #254
Thanks for the comment. However, I'm not using `FactoryGirl` for this particular project. Just fixtures.

[2015-10-08 14:21] samphilipd opened #268 "Success callback is not triggered on non-bang transition then save"
Here is an event I have defined on an ActiveRecord model

[code]

If I call `model.finalize!` the success callback fires as expected.

However, I wanted to make sure to fail noisily if there were any validation failures, so I called it like this:

`model.finalize; model.save!`

In the second case, the success callback is never triggered even though the transition was successfully persisted.

As a

[2015-10-10 03:49] MadisonRong commented on #237
@anilmaurya yep, you are right. Thanks....

[2015-10-10 03:49] #237 closed

[2015-10-13 07:49] alto commented on #249
@anilmaurya  Allright. Thanks a lot for your help!

[2015-10-13 07:49] #249 closed

[2015-10-13 07:54] alto commented on #237
@anilmaurya Again, thanks for your help! I really appreciate it!

[2015-10-13 08:05] alto commented on #156
@anilmaurya You are right (you start to know _AASM_ better than I do ;) ). Once again, thanks a lot!

@aditya-kapoor This behaviour (running `:before_enter` and `:after_enter` callbacks on _ActiveRecord_ initialisation) is implemented since version `4.0.4` (see #191 for details).

[2015-10-13 08:05] #156 closed

[2015-10-13 09:02] anilmaurya commented on #156
@alto Thanks for the compliment 😎.

[2015-10-15 20:11] anilmaurya commented on #253
@alto are you working on this feature ? If not then I can help you on this.

[2015-10-16 05:53] alto commented on #253
@anilmaurya Thanks for your offer. I'm sorry, I'm already working on it.

[2015-10-16 06:58] anilmaurya commented on #253
@alto No problem . Happy coding :smile:

[2015-10-16 09:06] anilmaurya commented on #267
To add another callback in event, you can do

[code]

[2015-10-16 12:49] reidmorrison commented on #267
Unfortunately changing the options in the child class `Job2` also changes the options in class `Job`. As a result when starting `Job` it now fails trying to call `show_started`

[code]

Unfortunately the AASM `inherited` implementation only does a shallow clone of the state machine information, which results in shared event definitions.

[2015-10-16 12:57] anilmaurya commented on #267
@reidmorrison You are right. I didn't consider this issue.

[2015-10-16 13:29] reidmorrison commented on #267
@anilmaurya I still think you are on the right track, we have just bumped up against a separate inheritance cloning issue.

Adding the following patches allows your example above to work:
[code]

Looks like I need need to turn the inheritance fix into a pull request.

[2015-10-16 14:02] anilmaurya commented on #267
@reidmorrison Looks good to me. :+1:

[2015-10-16 23:23] alto commented on #221
Please take a look at #270 and let me know if that works for your problem. Will release soon.

[2015-10-16 23:23] alto commented on #253
Please take a look at #270 and let me know if that works for your problem. Will release soon.

[2015-10-16 23:45] fabn commented on #253
Awesome job, thanks.

[2015-10-18 19:52] rstormsf opened #271 "Wiki pages?"
Am I tripping? Where are they all gone ?

[2015-10-18 19:54] rstormsf commented on #271
Sorry I was confused with https://github.com/sferik/rails_admin/wiki page. I was like - where are all docs?

[2015-10-18 19:54] #271 closed

[2015-10-18 19:54] alto commented on #271
No worries :+1:

[2015-10-18 20:35] rstormsf commented on #271
Fighting with https://github.com/zcpdog/rails_admin_aasm - can't figure out why the button doesn't send anything to controller
https://github.com/zcpdog/rails_admin_aasm/issues/4
I setup breakpoints into https://github.com/zcpdog/rails_admin_aasm/blob/master/lib/rails_admin_aasm/action.rb - nothing gets executed :-(

[2015-10-19 15:03] kendrikat commented on #54
And for anybody looking for a list of possible events:
[code]

[2015-10-19 17:36] jeremywadsack commented on #253
Yeah, that works for me too. Thanks.

[2015-10-20 04:47] waynn commented on #221
That looks good!

[2015-10-20 15:46] awendt commented on #221
@alto

:+1: — should I close this then?

[2015-10-20 17:15] carlfreeland opened #273 "Transitions fail on dup'd copies"
If you dup a model, the copy won't successfully transition.  Example trivial migration task, model, and rails console lines provided.  Notice that when the copy transition is attempted, it's modifying the status of **the source id**, not the copy id.  It should update id 6, but updates id 5.  The SQL argument is cropped by the size of the available text window.

```rails generate migration CreateA

[2015-10-22 00:39] sgringwe opened #274 "Serialize all possible transitions"
Our application is becoming frontend heavy. The may_xxx? calls are great in ruby, but there's no good way to send that to frontend other than 1-by-1 explicitly. Any way to send all possible transitions in a single method? Which returns a hash of allowed transitions?

[2015-10-22 05:09] alto commented on #254
@daniely I'm sorry, but I cannot reproduce the error. I just created a fresh Rails app, added my first model `Booking` (with a `:name` and the _AASM_ column `:status`)

[code]

and this fixture

[code]

Within one of the tests I can happily do this:

[code]

Maybe you can check if something overriding or bypassing the class's `after_initialize` callback?

[2015-10-22 12:54] reidmorrison commented on #273
If we check the current_state inside aasm:

[code]

Whereas the AR column is still the old value:

[code]

Appears to be an issue with the `:column` setting after the dup.

[2015-10-22 14:55] reidmorrison commented on #267
Fixed with PR https://github.com/aasm/aasm/pull/269

[2015-10-22 14:55] #267 closed

[2015-10-22 15:54] reidmorrison commented on #262
On MongoMapper I am using the following patch for now:
[code]

For ActiveRecord the following should work:
[code]

@alto do have any thoughts on what config option we should use to control the whiny validations behavior? I can also submit a PR if that would help?

[2015-10-22 23:23] daniely commented on #254
Thanks for taking a look at this. Just FYI the version I am using is 3.2.1.

I'll try digging deeper in my code to see what's going on.

On Wed, Oct 21, 2015 at 10:09 PM, Thorsten Böttger <notifications@github.com

[2015-10-23 07:11] alto commented on #221
Closed with #270 .

[2015-10-23 07:11] #221 closed

[2015-10-23 07:11] alto commented on #253
Closed with #270 .

[2015-10-23 07:11] #253 closed

[2015-10-24 09:56] rdetert opened #277 "Does Not Work with Mongoid 5"
Mongoid 5 is required for MongoDB 3 (the latest version). AASM doesn't seem to work with Mongoid 5.

Here is a test project: https://github.com/rdetert/aasmtest
Use the model `tester.rb`.

To see the error type:
$ rails c
2.1.5 :001 > Tester.drafting

If you revert the Gemfile back to Mongoid 4, the error goes away.

Here is the error:
[code]

[2015-10-27 08:44] alto commented on #277
@rdetert You are right. _AASM_'s tests have errors as well with version `5`. Thanks for pointing that out!

[2015-10-27 09:58] #277 closed

[2015-10-27 10:01] alto commented on #277
I just released version `4.4.0` including a patch.

[2015-10-27 10:01] alto commented on #253
I just released version `4.4.0` including the change.

[2015-10-27 10:01] alto commented on #221
I just released version `4.4.0` including the change.

[2015-10-27 10:16] alto commented on #254
@daniely Ah, that's indeed a very important information. Prior to version `4.0.4` _AASM_ did not set the initial state on _ActiveRecord_ initialisation.

Please upgrade to version `4.0.4` (at least). See [README_FROM_VERSION_3_TO_4](https://github.com/aasm/aasm/blob/master/README_FROM_VERSION_3_TO_4.md) for doing this.

[2015-10-27 10:16] #254 closed

[2015-10-27 10:20] alto commented on #147
Would these matchers be a start?

[code]

[2015-10-27 10:25] kiela commented on #147
@alto Looks good to me. Do you have already matchers for that or are you planning to write them?

[2015-10-27 10:27] alto commented on #147
@kiela I'm planning to write them, based on the code snippets in this ticket. Do you want to help?

[2015-10-30 10:52] alto commented on #178
@thomasstephane Thanks for the RSpec matcher, it's really awesome! I integrated it – finally – into a new feature branch `rspec_matchers`, in case you wanna have a look. It will be released soon.

[2015-10-30 10:52] #178 closed

[2015-10-30 11:33] alto commented on #147
Will be released with #279 . Feel free to have a look and try it out.

[2015-10-30 11:33] #147 closed

[2015-10-30 13:30] thomasstephane commented on #178
Nice! Glad I can help.

[2015-11-02 08:32] alto commented on #257
@tengcong Closing this ticket now. Feel free to re-open if you need help.

[2015-11-02 08:35] alto commented on #260
@jamesinfmz Can you provide an example for `<ID column value>` (id of which item) ?

[2015-11-02 08:53] alto commented on #262
@anilmaurya I agree, it could be combined with the `:whiny_transitions` option. Thus, use `save` if `:whiny_transitions => false` and `save!` if `:whiny_transitions => true`.

@PragTob What do you think?

[2015-11-02 09:05] alto commented on #268
@samphilipd I agree. As you can see in #262 the usage of `save` instead of `save!` already bit other developers as well.

What do you think of the suggested solution (use `save` if `whiny_transitions: false, and `save!` if `whiny_transitions: true`)?

[2015-11-02 09:13] alto commented on #273
@carlfreeland Thanks for all the details which really help a lot. I will have a look. Which version of _AASM_ are you using?

[2015-11-02 10:12] PragTob commented on #262
@alto sounds good, although I'd prefer a separate option. With whiny transitions it'd be a breaking Major version version type of change and whiny doesn't imply "raise  error and hell" - so imo that'd speak for a new option but your call :)

[2015-11-02 10:50] samphilipd commented on #268
@alto thanks for looking into this, I think we need a separate option though.

IMO for bang methods, `save!` should be the default. How about a default option like `raise_on_validation_failure: true`. I can write a patch for this if you like.

[2015-11-03 11:02] troyanryller commented on #271
try
[code]
mb u have some validations that fails...

[2015-11-10 01:53] millie commented on #257
I've got a similar issue. Did you figure this out @tengcong? `:whiny_transitions => false` didn't help me...

[2015-11-10 03:59] millie commented on #257
If it's any help to others, I found that having an aasm event called `:send` caused the error, and renaming it made it go away. I have no idea why.

'''ruby
aasm :column => 'status' do

    state :created, :initial => true
    state :estimated
    state :accepted
    state :invoiced
    state :paid
    state :canceled

    # event :send do
   ### bad news ^^    ... but below works ##
    event :se

[2015-11-10 14:16] dantethegrey commented on #262
If anyone was interested I found workaround using  `aasm_event_failed`, below is my implementation on an AR model class including `aasm`

[code]

PS: is it on purpose `aasm_event_failed` isn't documented? Eg .I might get surprised it's lost with next release;)

Thanks

[2015-11-16 09:24] alto commented on #147
Released version `4.5.0` including the new RSpec matchers.

[2015-11-16 09:24] alto commented on #178
Released version `4.5.0` including the new RSpec matchers.

[2015-11-18 11:32] javiercr commented on #250
+1 for adding `failure` to the DSL :)

[2015-11-26 09:13] lonre opened #285 "after_commit callback not works by using non bang event call"
[code]

[2015-11-26 14:36] krim opened #286 "Delayed Job(or other job app) + aasm - transitions not working"
Hello.
I'm want to use aasm with delayed job. When i create events, such as:
[code]

And then i:
[code]
At result i will have state == "in_progress"
If i start 'progress' without delay i will have state 'refuse' or 'done'

[2015-11-27 07:29] #286 closed

[2015-11-27 07:40] anilmaurya commented on #286
@krim Did you fixed this issue ? If you can mention what was actual problem and how did you solve it then it will help others programmers if they stuck at some thing like this.

[2015-12-01 09:15] hspazio commented on #274
hi @sgringwe, I've used the following method in the model class that implements *aasm*:
[code]
which returns an array of symbols. If your transition is there the `may_xxx?` should also return `true`.

[2015-12-01 10:40] grgr opened #287 "whiny_transitions conflict with aasm.attribute_name"
rewrite spec/models/silencer.rbin specs of aasm-4.5.0 like:

class Silencer
  include AASM

  aasm.attribute_name :state

  aasm :whiny_transitions => false do
    state :silent, :initial => true
    ....

and specs will fail with:
rspec ./spec/unit/transition_spec.rb:16 # transitions should not raise an exception when not whiny
rspec ./spec/unit/transition_spec.rb:22 # transitions should not rais

[2015-12-01 21:04] maokomioko commented on #287
Can confirm this (encountered just today), but on the second thought pointing attribute_name to the state is explicit. :)

[2015-12-02 00:28] sgringwe commented on #274
@hspazio thanks! that works, and looking back AASM probably shouldn't be worried about serialization anyways.

[2015-12-03 05:50] alto commented on #274
@sgringwe Sorry for coming back to you so late.

Thanks to @hspazio for jumping in and helping out.

Can I close this issue then?

[2015-12-03 17:35] #274 closed

[2015-12-05 07:48] anilmaurya commented on #285
@lonre This is the desired behaviour of `after_commit` callback.

If you read https://github.com/aasm/aasm#transaction-support carefully, then you will see statement -

[code]

`transaction is committed` means results is persisted to the database.

When you call `job.run!` then `run` event is fired and `job` is saved to database that's why `after_commit` callback is called.

When you call `job.run

[2015-12-05 10:48] lonre commented on #285
@anilmaurya Hi, I know that.

But what I am confused is that I call `job.run` and `job.save`, then the job is persisted and the transaction is committed.

If we take active_record as an example, the `after_commit` will fired if `save` method is called.

[2015-12-05 15:00] anilmaurya commented on #285
@lonre AASM does not observe your object, once you fire `job.run` AASM will fire `run` event and related callbacks. `job` status will be changed from 'sleeping'  to `running` . After this AASM does not care what you do with `job` object.

AASM `after_commit` callback is not related to active_record `after_commit` callback in any way.

[2015-12-08 09:14] alto commented on #285
@lonre: @anilmaurya is right. @scottjacobsen updated the README accordingly (in PR #284). Maybe the name `after_commit` is too confusing, but it has absolutely nothing to do with _ActiveRecord_ `after_commit` hooks.

[2015-12-08 09:14] #285 closed

[2015-12-08 09:19] lonre commented on #285
Yes, some people thought it is like ActiveRecord's `after_commit`.

Thanks @alto

[2015-12-08 09:41] alto commented on #287
Interesting case. Will investigate.

[2015-12-08 09:58] alto commented on #287
@grgr @maokomioko  Released version `4.5.1` fixing this bug. Thanks for pointing it out!

[2015-12-08 09:58] #287 closed

[2015-12-12 11:37] lingceng opened #293 "Proc with optional argument not work with guards"
Hi. I'm using Rails4.2 and aasm4.5

    event :check_step, after: :_done_tech do
      transitions from: :step_end, to: :step_done,
        guard: Proc.new {|options={}| options[:qualify_status]  == Technology::OK }
      transitions from: :step_end, to: :at_step
    end

When I run folowing test. I it will fail.

    context "when check passed" do
      it {
        order.check_step(qualify_statu

[2015-12-16 12:33] lingceng opened #294 "May fire event inconsistent behavior"
Hi, I have following code:

    class Person
      ...
      event :run, before: lambda { age = 10 }, guard: lambda { age > 5 }
    end

    person.age = 1

    person.may_run?
    # => false

    person.run
    # run sucessfully

Here `may_run?` is inconsitent with `run`.

I checked the source and found that:
- `may_run?` does not trigger  _before_ callback
- `run` triggers _before_ callback. So

[2015-12-16 13:03] anujaware commented on #294
@lingceng As per my understanding 'may_run' is just to check whether event is valid/ready to 'run' (or whatever event name is) or not. Callback will get triggered only when you actually fire the event.
Why do you want to fire callback without firing an event? I mean what is the scenario where you have such requirement?

[2015-12-16 13:22] lingceng commented on #294
@anujaware Thank you for your reply.
I do not want to fire callback when calling 'may_run?'. I want 'run' and 'may_run?' keep consistent.
In a other word, I mean 'may_run?' return false 'run' should fail to run.

[2015-12-16 14:03] anujaware commented on #294
Yes. But the example you have given will always pass as per the code written in before and guard. And I am not able to find the real time example where we do some change in before callback. If we do like this you can move it outside the event and as per the requirement first apply the required logic on object and then call may_run and run to keep it consistent.

I am trying to reproduce this but g

[2015-12-16 17:19] KevinBongart opened #295 "De-duplicate event configuration?"
Hi, I'm seeing a lot of duplicated code when configuring AASM. For instance, based on the README:

[code]

Is there a way to avoid duplication with something like:

[code]

or something similar to FactoryGirl's DSL:

[code]

What options do I have to de-duplicate event configuration?

Thanks

[2015-12-16 20:51] HoyaBoya commented on #295
@KevinBongart my hope is that my PR in #282 could alleviate this condundrum.

[2015-12-16 21:03] KevinBongart commented on #295
@HoyaBoya This is exactly what I was looking for! Let's get this merged :)

[2015-12-17 02:50] lingceng commented on #294
@anujaware You're right. I can put the code outside `before` callback.
Or do some tricks in the guard to keep the behavior consistent. eg. use age_was.
But in my opinion, guard should not be effected by any callbacks. So I asked whether it was a bug.

`age` is a field of Person.
You should take care of initial state of a person to make `run` runnable.
I'm afraid I can't provide the full code. It's

[2015-12-19 09:59] lingceng opened #297 "duplicate global callbacks caused by `after_all_transitions`"
#### Base code
Using aasm4.5.0, rails4.2.0

    class Job
      include AASM

      aasm do
        state :sleeping, :initial => true, :before_enter => :do_something
        state :running

        after_all_transitions :log_status_change

        event :run, :after => :notify_somebody do
          before do
            log('Preparing to run')
          end

          transitions :from => :sleepin

[2015-12-21 08:09] alto commented on #257
@millie Hmm, thanks for the hint. That's right, until now _AASM_ doesn't really like `send` events, but I will have a look at this.

@tengcong Could that be your case, too?

[2015-12-21 08:14] alto commented on #250
@zenati Would that suit you as well?

[2015-12-21 14:30] zenati commented on #250
@alto :+1:

[2015-12-29 15:00] murtali opened #299 "nested multiple models state change"
I have two models, Orders / Payments

when trying to complete an order
[code]
the payment model has four states -> [pending, processing, finished, errored]

in "process payment" before callback, the case where the payment gets errored, the entire transaction gets rolledback.

is there a way in a nested transaction for the inner model state to get saved, and then rescue the outer state change (when

[2016-01-04 07:26] towonzhou opened #301 "after not woring when initial"
[code]
some_new is not work.   but some_confirm is work, why?

[2016-01-05 09:13] alto commented on #293
@lingceng Wow, interesting case. I will have a look.

[2016-01-05 09:59] lingceng commented on #301
@towonzhou No *after* callback exits for state. You can use *before_exit* or something similar.

[2016-01-05 10:53] alto commented on #293
@lingceng Could you take a look at the current _master_ version (at least with commit https://github.com/aasm/aasm/commit/6e97e794198447bb8d29bb1d6ed1c38afc7dc440) and try it out? If your issue is fixed I will release a new (patch) version.

[2016-01-05 11:47] lingceng commented on #293
@ato Of course! A minute please.

[2016-01-05 11:51] lingceng commented on #293
@ato Yes! The fix woks. :+1:

[2016-01-05 19:21] alto commented on #293
@lingceng Great. I just released version `4.5.2` including the fix. Thanks for your help!

[2016-01-05 19:21] #293 closed

[2016-01-05 21:22] #299 closed

[2016-01-06 02:23] towonzhou commented on #301
@lingceng ok thanks

[2016-01-06 16:26] carvil opened #303 "Event names ending in `!` raising exception"
Hi there,

When I've tried to upgrade `aasm` from `4.2.0` to `4.5.2`, I noticed an exception being raised when event names end in `!`.

As an example, if you run this code with the new version:

[code]

You will see the following exception:

[code]

Apologies if I missed an upgrade note somewhere, but I couldn't find it.
Is this something you won't support going forward?

Thanks

[2016-01-07 00:19] vergenzt commented on #273
Hey @alto! We're on 4.2.0.

[2016-01-07 20:16] alto commented on #273
@vergenzt So you've got the problem too?

[2016-01-07 20:22] alto commented on #205
@anilmaurya Can we close this issue then (after having merged #261)?

[2016-01-07 20:47] #152 closed

[2016-01-07 20:51] alto commented on #152
@michaeldickens I just released version `4.6.0` including @anilmaurya's patch. Please re-open if it doesn't work.

[2016-01-07 21:04] vergenzt commented on #273
Sorry, didn't specify. Yes, but Carl and I are on the same team, so it's the same instance of the problem. I just encountered it in the codebase again and realized we never responded to your question.

[2016-01-07 21:09] alto commented on #294
@lingceng That's how it's supposed to be. `may_run?` is used to check if the transition is actually "allowed" to run through, using guards only. `run` by itself then runs the transition and all other callbacks, which are meant to be like "do something else, too". Basically callbacks like `:before` should not have impact on the transition itself. They are meant to be triggers only.

@anujaware Than

[2016-01-07 21:11] anilmaurya commented on #205
@alto Yeah sure, Finally it is merged🤘. Thank you.

[2016-01-07 21:11] #205 closed

[2016-01-07 23:51] alto commented on #295
@KevinBongart I merged #282 and will release a new version soon.

[2016-01-08 00:32] alto commented on #260
@jamesinfmz Re-open if still needed.

[2016-01-08 00:32] #260 closed

[2016-01-08 01:19] KevinBongart commented on #295
Awesome, thanks!

[2016-01-08 01:19] #295 closed

[2016-01-08 02:37] alto commented on #303
@carvil I'm surprised it worked in the past (for versions `<= 4.2.0`). Are you sure? _AASM_ generates those `run!` by itself (as the behavior is different when using `run` or `run!`.

[2016-01-08 02:39] alto commented on #301
@lingceng Right. Thanks for helping out!

[2016-01-08 02:39] #301 closed

[2016-01-08 02:50] alto commented on #297
@lingceng Hmm, I can't reproduce that issue. When does `@global_callbacks[:after_all_transitions]` get values as `[:log_status_change, :log_status_change]`?

[2016-01-08 03:11] alto commented on #257
Released version `4.7.0` including a fix for the `:send` (as event name) problem.

[2016-01-08 03:11] #257 closed

[2016-01-08 03:11] alto commented on #295
Released version `4.7.0` including the addition.

[2016-01-08 10:33] lingceng commented on #294
"Basically callbacks like :before should not have impact on the transition itself." is a way. But how about changing the callback stack as following?

      event           guards
      transition      guards
      event           before_all_events
      event           before

So the *before* callbacks never effect guards. So the *run* and *may_run* will always keep consistent.

[2016-01-08 10:47] lingceng commented on #297
@alto

I should give more details.

First, I'm in the development env.
I triggered the **job.run()** when I clicked a button on my page.

Then, I add a line in the Job model. eg.

[code]

After adding the line, I triggered the **job.run()** again.
I got two lines of log

      puts "changing from..."
      puts "changing from..."

The `@global_callbacks[:after_all_transitions]` get values as: `[:l

[2016-01-08 12:54] carvil commented on #303
That is correct @alto , it works under version `4.2.0` (we have this live) but not under the latest versions. Here is a transcript of what I did:

[code]

[2016-01-09 09:14] jack-nie opened #305 "NoMethodError - undefined method `statuses' for #<Class:0x0000000ad23778>"
Hi there,
   When I've tried to config custom column for aasm state, I get the following error:
[code]

Here is my code:
[code]
I'm using it with `enumerize`.

[2016-01-09 10:17] mmahalwy opened #306 "How would this work with a json column using postgres?"
Instead of having individual fields on my model, I want to create a json column named `state` that may or may not contain certain keys.

How would this work (and perhaps if there is a good example) with aasm?

[2016-01-10 23:46] ngan commented on #294
I can see @lingchen's point being valid. Ehat he suggests would mirror active record. If you call `valid?` on an AR, it would run validations, in a sense, telling you if the record "may save." If you call `save` after that, it actually calls `valid?` again automatically. There's a lot of places in my code where I'm doing: `foo.run if may_run?`.

[2016-01-11 09:38] alto commented on #305
@jack-nie From reading a bit on the [enumerize github page](https://github.com/brainspec/enumerize), it has nothing to do with _ActiveRecord_'s [enumerations](http://edgeapi.rubyonrails.org/classes/ActiveRecord/Enum.html). Unfortunately, _AASM_ only supports Rails enumerations.

[2016-01-11 09:38] #305 closed

[2016-01-11 09:43] alto commented on #306
@mmahalwy I'm not sure I understand what you are trying to achieve. Normally you would have a `state` column of type `string`, which can take any of your defined states (as strings). Do you want to store it as hash instead?

[2016-01-11 15:46] mmahalwy commented on #257
Good catch @millie !

[2016-01-11 15:50] mmahalwy commented on #306
@alto yes that's correct. For example, I have column with type JSON (utilizing Postgres' JSON column), I'd like to store multiple states on this column rather than individual columns for each type.

For example:
`state: {}`
On task in progress but on hold
`state: {in_progress: true, on_hold: true}`, and once the task is resolved, `state: {in_progress: true, on_hold: false}`

Does that help?

[2016-01-12 14:31] anilmaurya commented on #303
@alto It was working for earlier version because you were defining `may_{name}?` using `define_method` syntax. Now you are using `class_eval` for defining `may_{name}?`.

https://github.com/aasm/aasm/commit/eca394bb9bff36426d0a5e238674d878ef2c4351#diff-b8d4c2d34e62d1889f6296e352014c10L79

In this particular scenario aasm is trying to define method `may_run!?` which is invalid method name because c

[2016-01-13 05:41] chriswoodrich commented on #236
@brega and @eirvandelden I think I'll take a shot at this feature soon. Question for you: should the ```success``` key take a block or the name of a method on the class?

[2016-01-13 07:51] anilmaurya commented on #303
According to Ruby Community

[code]

@alto Now we have two options:
1. Use `define_method` instead of `class_eval` for defining methods.
2. Update docs mentioning not to use event name with bangs.

What do you prefer ?

[2016-01-13 09:56] eirvandelden commented on #236
@chriswoodrich I'm cool with either. My gut tells me a block could be a more flexible solution, though are success callback is large enough to be it's own method anyhow.
The name of a method gives cleaner code though…

[2016-01-19 14:36] andreazaupa commented on #297
I've a similar problem,
aasm (4.7.0)

Callback method configured with after_all_transitions is called multiple time (maybe one time for every transitions defined).

[2016-01-19 16:26] alovak opened #310 "How can I test after_commit with none AR class?"
Hi!

I have created a ruby class in order to test aasm states without need to deal with validations, etc.

Here it is:

[code]

In Charge::States I want to create async job for notification:

[code]

with ```event after: ...``` async job can use record data before it was committed in DB (for example with 'pending' state). but with ```after_commit``` I can't use my plain ruby class to test state ma

[2016-01-21 02:08] lingceng commented on #297
@alto I created a pull request to fix this problem. Please have a look.

[2016-01-21 05:10] chriswoodrich commented on #236
@brega it looks like you've already done most of the work in #239 .  Do you plan to keep going there?  I can pick it up where you left off otherwise.

[2016-01-21 08:19] chriswoodrich commented on #172
I'll take a shot at this if people are still interested in it.

[2016-01-22 09:48] ethankang commented on #297
@alto, seems like in rails development env, model reloading will causes the aasm block to re-run, and global callbacks will be re-added.

[2016-01-22 16:57] D-side opened #312 "InvalidTransition#message refers to machine's current state, not the state that caused the error"
About this line: https://github.com/aasm/aasm/blob/master/lib/aasm/errors.rb#L13

We just had a day-long headache thinking over a weird error message we were getting from a pretty simple state machine (mostly truncated of unnecessary details):

[code]

We were getting the following in our error collection system:

    Event 'retry' cannot transition from 'error'

...and we were like **"wat?"** The

[2016-01-22 18:08] brega commented on #236
@chriswoodrich Not much interest on #239 to be fair and cant remember what else was needed for it. Feel free to take it over.

[2016-01-24 20:51] chinshr opened #313 "'after_commit' on event not firing after record is saved and committed"
When I am saving an instance after I changed the state with event (without bang), I am not receiving an `after_commit` callback, if I do the same with the bang, it works. Example:

[code]

Note: aasm, "~> 4.7"

[2016-01-25 06:23] anilmaurya commented on #313
Hi @chinshr ,

This is the desired behaviour, please see https://github.com/aasm/aasm/issues/285

And read https://github.com/aasm/aasm#transaction-support

[2016-01-25 06:39] chinshr commented on #313
That's very unfortunate as it makes the app logic a whole lot more complicated. I will have to use 'after' callback and observe the state transition on after commit to start a background job that I cannot launch unless the object is committed.

While I did not see an explanation in thread #285 for this behavior, I really appreciate your quick response!

[2016-01-26 18:44] chriswoodrich commented on #172
Update: got this working for the @ugoa 's example and other methods without arguments.  I'm going to try to get it working with arguments and then maybe try multiple methods per state.

[2016-01-27 05:00] psparrow commented on #172
I played around with it a bit here:

https://github.com/psparrow/aasm/commit/794c6e7625d9d278e6af69085c7d60768993f324.

The code prepends a before_enter callback that evaluates a block on the instance's metaclass. It should work for an unlimited number of methods and arguments.

[2016-01-28 03:58] chivoX opened #314 "Is there a way to do a next ?"
I have been reading through the code and it seems like there is now a way to do something like this

[code]

this would trigger the run event, and if i send that message again that would trigger the next event.

[2016-01-28 11:15] hspazio commented on #314
hi @chivoX, I've initially thought about the same when I started using _aasm_ but I figured that the power of this gem is that it implements a Non Deterministic State Machine so at a specific state you can have even 2 or more transitions to other states.
The `next!` method would be typical of a Determinitstic State Machine where there is only 1 possible transition at the time. In the example above

[2016-01-28 22:02] eebs commented on #241
I can confirm this is happening to me as well.

My expectation is that any `after_commit` hooks would not fire until the transaction that is wrapping the event firing has committed. As @danielfone said, I'm unsure if this is the desired behavior or not.

[2016-01-29 03:50] chivoX commented on #314
i have been thinking about your question a bit.

since i sometimes find it hard to explain what i want to do ill do an example using something i used to get around in the meantime

def next!
   send(status_event_mapping[status.to_sym])
end

def status_event_mapping
   {
      request_sent: :send_email!,
      email_sent: :settle!,
      settling: bank!,
      banking: :clear!
    }
end

this is wh

[2016-01-31 10:31] alto commented on #310
@alovak No, _AASM_ doesn't provide this functionality. You could check – when including `Charge::States` –, whether the base class is an _ActiveRecord_ model (and use `after_commit`) or not (and use `after`).

[2016-01-31 10:31] #310 closed

[2016-01-31 10:48] alto commented on #314
@chivoX No, there is no support for `next` in _AASM_, because – as @hspazio pointed out – it supports non-deterministic state machines, and _AASM_ can't guess what you want to do. But _AASM_ allows you to define a single event named `next` and define what shall be done on your behalf. Something like this:

[code]

[2016-01-31 10:48] #314 closed

[2016-02-01 13:27] #233 closed

[2016-02-01 14:16] ilp416 commented on #297
Thank you. Had this trouble in Rails 3 dev, only call aasm methods from controller.
After update all works right.

[2016-02-04 01:47] rringler commented on #262
:+1:  on bang methods calling `#save!`

[2016-02-04 16:57] grantovich commented on #169
I would second @marcrohloff's suggestion that `current_event` always be the real event name, rather than the name of the method that was called to trigger it. I am implementing generic event authorization as a `before_all_events` hook, using `aasm.current_event` to determine the policy method to call, and currently this requires manually stripping off the exclamation mark. This seems questionable

[2016-02-04 17:57] rringler commented on #243
:+1: on bang methods calling `#save!`

[2016-02-05 00:28] alto commented on #313
@chinshr The only explanation is that it has nothing to do with _ActiveRecord_ `after_commit` hooks. It only shares the name, not the behaviour. It's basically a _do this –for the currently triggered event– if and when the change has been committed to the database_. Saying this, it's totally event-based. A pure _ActiveRecord_ `save` (including all manual changes you did) is not going through any o

[2016-02-05 00:28] #313 closed

[2016-02-05 00:42] alto commented on #312
@D-side I agree. Which version of _AASM_ are you using?

[2016-02-05 01:19] alto commented on #146
@rousisk Take a look at #288, @HParker gave it a try.

[2016-02-05 02:35] alto commented on #306
@mmahalwy Yep, that helps. Unfortunately it's not supported by _AASM_. But I'm happy to take a pull request for it!

[2016-02-05 02:35] #306 closed

[2016-02-05 02:42] #297 closed

[2016-02-07 03:20] pelcasandra opened #319 "ArgumentError: wrong number of arguments (given 1, expected 0)"
Hi,

Any idea what may be causing this?

[code]

This was also happening with Rails 4.2 and that was the reason I tried to update to Rails 5.

[code]

Thank you.

[2016-02-07 07:10] pelcasandra commented on #319
Fixed. There was a ´method´ named attribute in the db that was causing the issue.

[2016-02-07 07:10] #319 closed

[2016-02-09 09:09] alto commented on #313
@chinshr Please have a look at #298. Let's continue to talk there.

[2016-02-09 11:58] chinshr commented on #313
Yes, #298 addresses my issue.

[2016-02-09 17:28] D-side commented on #312
Hi, @alto, thanks for responding and sorry for the delay.

As seen in the link above, the problematic code is in the `master` branch, so...

FWIW, we're using **aasm 4.3.0**. We've worked around this (by logging exception right away, which we should have done initially), we just had a bit of a hard time identifying the issue. Following the "principle of least surprise" you might want to fix this i

[2016-02-16 11:03] vladra opened #323 "Behaviour of skip_validation_on_save"
Please help me to understand behaviour of `skip_validation_on_save`

I'm using callbacks on rails model to make versioning works. So when model instance is updated, old version is saved to other DB table.

But this is not working if `skip_validation_on_save: true` is set for aasm.

My guess it is skipping model callbacks. Am I right?

Is this desired behaviour or a bug?

How can I achieve what I n

[2016-02-17 17:00] youroff opened #324 "Does state name passing with parameter on event make sense?"
What's the reason in passing desired state name when calling the event with parameters? As far as I understand the idea behind finite state machines, event should unambiguously set what state it will end at. We have guards to implement conditional transitions etc, so why there's a first parameter? I think that api would be cleaner if we could pass arbitrary parameters for callbacks.

Is there a us

[2016-02-17 22:47] alto commented on #324
Hi @youroff,

_AASM_ supports not only deterministic but also non-deterministic state machines. So sometimes the next target might be ambiguous and _AASM_ therefore offers a way to define your requested target state (when firing the event). Since version `4.0.0` this parameter is not mandatory anymore (I will update the README on this). Feel free to omit it.

Does that make things clear?

[2016-02-18 00:44] youroff commented on #324
Yeah, after some experiments I found that it works without it, thank you! However, it doesn't look like non-deterministic state machine, as it makes exact the same transition based on the input. If no desired state passed, then first matching by guards, if it's passed, then transition to that state. So it just makes reasoning about the events harder.

[2016-02-18 07:08] lingceng commented on #273
@alto I added a PR to fix this issue.

@carlfreeland feel free to have a test

[2016-02-20 02:17] betomoretti opened #328 "rails g aasm doesn't works"
Runing in console:
`rails generate aasm goal`
Could not find generator 'aasm'. Maybe you meant 'task' or 'assets' or 'controller'
`rails generate --help`
...
AASM:
  a_a_s_m:a_a_s_m
ActiveRecord:
  active_record:a_a_s_m
Mongoid:
  mongoid:a_a_s_m
...

Rails version: rails-4.2.2
Ruby version: ruby 2.2.1p85

[2016-02-20 04:20] alto commented on #328
Hi @betomoretti

Which version of _AASM_ are you using?

[2016-02-20 12:07] betomoretti commented on #328
Hi @alto

aasm-4.8.0

[2016-02-20 23:24] alto commented on #328
@anilmaurya Do you have time to take a look at this? I can replicate what @betomoretti is saying.

[2016-02-21 09:16] anilmaurya commented on #328
Ok, I will check this and fix it ASAP.

[2016-02-21 09:27] alto commented on #328
@anilmaurya Great, thanks a lot!

[2016-02-22 07:16] #328 closed

[2016-02-22 07:23] alto commented on #328
I just released version `4.9.0` including the change.

[2016-02-23 20:24] bahbbc opened #330 "Is it possible to use a differente column without ActiveRecords"

[2016-02-23 20:33] bahbbc opened #331 "Is it possible to use a different aasm 'column' for ruby classes?"
If I correctly understood the docs, if you are using ActiveRecord you can create a migration and change the default column from aasm.

[code]

But is it possible to use an attribute from a ruby class as well? using the `column` I wasn't able to do so. As a workaround I used some  `before_all_events` and `after_all_events` to set the current state machine in the attribute that I wanted, but this do

[2016-02-23 21:12] alto commented on #330
@bahbbc Duplicate of #331?

[2016-02-23 21:12] #330 closed

[2016-02-24 08:34] alto commented on #331
@bahbbc You should be able to use the state callback `:after_enter` for this, which is called (besides `:before_enter`) on object initialisation. Let me know if that works.

[2016-02-24 12:16] bahbbc commented on #330
Yeap, my fault, sorry...

[2016-02-24 12:27] bahbbc commented on #331
@alto I already tried that... If I do it like this:

[code]

The set_status is never called on initialization.

[2016-02-24 13:00] bahbbc commented on #331
I already understand what is happening! I my specs I only initialize the object and expected to have the status already settled.

[code]

But it only works if I call the aasm state... For example, if I do `aasm.current_state` in the spec it works. I though that the initial state and it's callbacks would be initialized with the object, but it looks like they do only if I verify the it's state.

[2016-02-25 13:19] Shwetakale opened #332 "Mongoid: has_many association _ids helper raising error"
Consider following association

    class Baby
      include Mongoid::Document
      include AASM

      belongs_to :user

      aasm :column =>'status' do
        state :active, :initial => true
      end
    end

    class User
      include Mongoid::Document
      include AASM

       has_many :babies
    end

when we use has_many association with mongoid it gives baby_ids helper method.

When

[2016-02-25 13:50] Shwetakale commented on #332
I tried on latest version still facing same issue.

[2016-02-26 09:24] anilmaurya opened #334 "[Feature Request] Add Appraisal (https://github.com/thoughtbot/appraisal)"
I found it difficult to test aasm for different versions of dependencies.

To run specs for different gemfile on local machine I copied respective gemfile to root Gemfile, did bundle install and then run specs. I had to repeat these steps for all gemfiles for which I want to run my specs.

I think adding `appraisal` gem will simplify this. If you know of any better way than please let me know.

[2016-02-29 03:47] mtsbarbosa commented on #223
@alto i'm sorry digging it back, but I am trying to use FactoryGirl and defining aasm_state inside of the definition. This is giving me some similar problem:

    unrecognized state-type given

if I change the no_direct_assignment configuration this problem should be resolved? Where can I find this configuration?

[2016-03-02 12:59] reicheltd opened #335 "state :valid breaks validations"
aasm do
      state :valid
    end

gives me

`wrong number of arguments (1 for 0)`
`My_model#perform_validations`
`activerecord (4.2.5.2) lib/active_record/validations.rb, line 83`

    def perform_validations(options={}) # :nodoc:
      options[:validate] == false || valid?(options[:context])
    end

Using Rails 4.2.4.2 and Ruby 2.2.4

Maybe stupid of me to try to name a state `valid`, but I ne

[2016-03-05 15:48] mtsbarbosa opened #337 "Problem testing when aasm is initialized by a module"
My machine state will be configured by application users, so I wrote something like:

my user.rb:
[code]

my module:
[code]

my test:
[code]
First thing, the factory girl allows aasm_state setting manually, but when I need to get the user.aasm.current_state or anything from aasm it doesn't work, looks like it has not been initialized before the tests. Why?

Second thing, inside my test file, when

[2016-03-11 03:33] EricDurante commented on #262
I ended up using one of the provided callbacks to get the behavior that I wanted.

[code]

[2016-03-12 05:12] mtsbarbosa commented on #337
I finally solved.
I created a workflow_helpers.rb, inside it, I have a method where it initializes all the aasm stuff at user class using FactoryGirl instead of using it directly from the database models and I call this method before the test.
Here is my full example:
https://github.com/mtsbarbosa/base_web_rails_app

[2016-03-12 05:12] #337 closed

[2016-03-14 04:01] ervoiox commented on #335
It would be nice if you could specify a prefix to the public methods that AASM adds.

[code]

[2016-03-15 18:09] pirj commented on #335
@ervoiox It's possible to scope in a [slightly different way](https://github.com/aasm/aasm/blob/master/README.md#multiple-state-machines-per-class).

Code that should show a warning message to protect original methods from being overridden doesn't work.

[2016-03-15 18:19] pirj commented on #331
Will that work for you?

[code]

[2016-03-15 18:28] pirj commented on #303
@carvil, the bug seems to be resolved on master (4.9.2)
Please confirm that the behaviour is as expected.

[2016-03-15 18:56] pirj commented on #323
@vladra AASM's `skip_validation_on_save` setting should not affect AR callbacks:

[code]

As you can see, 'saved' and 'committed' are still there. Can you please describe your case in more detail?

[2016-03-16 17:06] pirj commented on #294
As per my tests it is consistent on branch master:

[code]

There's also a test to ensure that [callbacks does not run any state callback if the event guard fails](https://github.com/aasm/aasm/blob/master/spec/unit/callbacks_spec.rb#L130)

@lingceng can you please confirm that the issue has been fixed?

[2016-03-16 17:24] pirj commented on #294
It seems to me that `event`'s `before` is kind of `before_validation` filter in ActiveRecord, but `may_run?` is not similar to AR's `valid?`, since it does not trigger `before`.
@lingceng how do you see it, should `before` be run before `may_run?` or should it not be run if `guard` fails?

[2016-03-17 18:18] lingceng commented on #294
Both solution can make may_run? and run consistent. I choose it not be run if guard fails.
As @alto said, we expect the callback do not effect the guard.

[2016-03-18 08:47] #273 closed

[2016-03-18 09:32] #332 closed

[2016-03-18 11:39] carvil commented on #303
Thanks, @pirj, it works now as expected.

[2016-03-19 01:33] #335 closed

[2016-03-19 01:42] #312 closed

[2016-03-19 04:44] alto commented on #236
Merged #239 now.

[2016-03-19 04:44] #236 closed

[2016-03-19 08:25] #146 closed

[2016-03-19 08:55] alto commented on #334
@anilmaurya Closing this issue in favour or the pull-request #342

[2016-03-19 08:55] #334 closed

[2016-03-19 08:59] alto commented on #323
@pirj Thanks for helping on this.

[2016-03-19 09:37] pirj commented on #323
@alto N/p, <3 aasm!

[2016-03-19 23:21] alto commented on #117
@elle Your case should be fixed with _AASM_ version `4.8.0` (see #275 for details).

[2016-03-19 23:23] alto commented on #127
@glebe Please try out the workaround provided by @opti. If it doesn't help feel free to re-open this issue.

[2016-03-19 23:23] #127 closed

[2016-03-19 23:43] alto commented on #134
@t3hk0d3 Why do you think it'd be unhandy?

[2016-03-20 03:09] alto commented on #172
You can already do it like this:

[code]

What do you think of this approach (using `after_enter` with procs or a general `adjust_speed` method with cases)? I think the requested approach of using method definitions within the `state` block is syntactic sugar that adds complexity to the code and makes it more error-prone.

[2016-03-20 03:13] alto commented on #172
Another option would be

[code]
 Unfortunately, this doesn't work yet, but it would be easy to implement. What do you think of this?

[2016-03-21 18:47] elle commented on #117
@alto thanks

[2016-03-23 14:41] t3hk0d3 opened #344 "aasm.current_event return inconsistent event name"
[code]

IMHO exclamation mark in current even name is totally inappropriate.

[2016-03-24 00:07] emclab opened #345 "Is aasm thread safe in multi tenant Rails 4.2 app?"
Is aasm thread safe by default in multi tenant Rails 4.2 app? We are currently using geekq/workflow and not sure if it is thread safe. Our app is moving to serve multi tenant.

[2016-03-30 17:59] hugueslamy commented on #324
I'll just piggyback on this to explain the case why I would need the destination state on an event. Now I don't know if this is bad design or something that was making sense before and most people just not use it enough.

To illustrate this, let explain with a food distributor which use coins.
Normally, you would have a **wait** state with a event coin_inserted (coin_value_params) that loop back t

[2016-03-30 18:38] youroff commented on #324
I think it's better to rethink your state machine definition. Does coin deposit really moves it to another state? According to regular wending machines, it's just exactly the same when no coins inside or some amount that is enough (or not enough) for purchase. So when you try to buy something you either have enough coins or not. I'm not sure that state machine is needed here at all.

Could you pos

[2016-03-30 23:37] alto commented on #273
I just released version `4.10.0` including the changes from #325.

[2016-03-30 23:37] alto commented on #332
I just released version `4.10.0` including the changes from #333.

[2016-03-30 23:38] alto commented on #335
I just released version `4.10.0` including the changes from #340.

[2016-03-30 23:38] alto commented on #312
I just released version `4.10.0` including the changes from #341.

[2016-03-30 23:39] alto commented on #236
I just released version `4.10.0` including the changes from #239.

[2016-03-30 23:40] alto commented on #146
I just released version `4.10.0` including the changes from #288.

[2016-04-01 01:29] hugueslamy commented on #324
Here's a simple state machine:
[code]
Now at the console let's assume we have an object job and the actual state is :first
job.run -> job.status == :second -> This is correct.
job.reload
job.run(:second) -> job.status == :second -> This is correct
job.reload
job.run(:third) -> job.status == :second -> This is incorrect as this transition is not allowed. I was expecting InvalidTransition
job.reload

[2016-04-01 13:29] jmcnevin commented on #262
Wow, this one just bit me as well.  I feel like the bang method of event transitions should never be able to silently return `false`.  Would anyone ever want or expect the bang method to behave that way?

[2016-04-01 17:34] pirj commented on #324
@youroff, real life example:

    aasm column: :state do
      state :unconfirmed, initial: true
      state :confirmed
      state :rejected

      event :confirm, after: :set_user_and_time do
        transitions from: :unconfirmed, to: :confirmed
      end

      event :reject, after: :set_user_and_time do
        transitions from: :unconfirmed, to: :rejected
      end
    end

    private

[2016-04-01 17:53] youroff commented on #324
@pirj Not sure I understand the problem. Do you want to use one event and some business logic to decide to go whether to confirmed or rejected?

[2016-04-01 17:58] youroff commented on #324
@hugueslamy I see the problem, but this problem exists only under assumption that sending of event + desired state is a good idea, but my point is opposite. In your case I would have separate events, like `to_second` and `to_third` and this would give you meaningful feedback, if you try to go to `third` from `first` calling `to_third`, for example. Actually this confusion is just another proof tha

[2016-04-02 16:27] anujaware commented on #324
@hugueslamy :+1:  I think as per documentation if we pass ```nil ``` it will transition to the first end state defined for that event i.e. perfect but if parameter is present and its not the valid state it would be more correct to thrown an error. I tried by using bang to check if it throw error while saving the object but it doesn't.

[2016-04-03 01:51] youroff commented on #324
@anujaware what if parameter passed is the piece of data that you want to see in event callback and it happened to be a string or symbol? It this case there's no way to distinguish what exactly developer meant.

[2016-04-03 02:24] emclab commented on #345
geekq/workflow is not thread safe in multi tenant app. user who logs in late overwrite previous user's workflow spec. There is only one workflow spec can be defined for one running app.

[2016-04-03 02:28] emclab commented on #345
Is workflow spec defined in aasm by class method or instance method?

[2016-04-03 04:39] anujaware commented on #324
@youroff Can you please give a small example?

[2016-04-03 14:05] youroff commented on #324
@anujaware Example of what exactly? Of passing a context with events? It was posted by @pirj couple of comments earlier: https://github.com/aasm/aasm/issues/324#issuecomment-204482526

[2016-04-03 14:23] pirj commented on #324
@youroff If you think this is not the best way to pass context along with events, propose a better way, this is what I meant by "Any better way to do so?".
This is what your original question was, why these parameters are here.
Propose a better solution to my problem without the use of parameters. This might add to a chance for them to be deprecated in next major version.

[2016-04-03 14:44] youroff commented on #324
@pirj Not really, my original question was about state passed as a first argument. I strongly believe that passing arbitrary arguments to event for later use in callbacks is the right way to go. But at the same time passing target state is a bad design that only brings confusion.

[2016-04-03 14:56] anujaware commented on #324
@youroff @pirj Example is right. But I think we will need that end state as parameter to support non deterministic state machine but also need to find some other way to handle above case. Something like  either don't pass any argument or pass argument with end state (which could be nil).

[2016-04-03 15:06] youroff commented on #324
@anujaware How exactly passing state name would make this state-machine support non-determinism? Doesn't passing explicit state make is deterministic? To be honest, I don't see real application for even emulated NFA, unless we have quantum computers or at least highly parallel platform, which is not Ruby of course. So when you pass state name with the event, you don't make it non-deterministic, yo

[2016-04-03 16:15] hugueslamy commented on #324
@youroff If I look at UML, I think that you need different event to move to a different state. I'm encline to follow this simpler route when possible, but sometimes you're stuck with third party system that are not well design and passing the end state is a better solution to avoid spaghetti code.

So you end up with the following possibilities.
- event (without any argument) = nil end state so pi

[2016-04-04 02:37] anujaware commented on #324
@youroff Yeah you are right we can use different events. I am also not able to find real life scenario where we can not avoid passing end state and can not handle it with event.
@hugueslamy We can handle this by making end stare mandatory but I am also curious to know the exact example where we can't avoid passing end state.

[2016-04-04 04:19] youroff commented on #324
@hugueslamy Maybe I miss something. What do you mean under 'third party service' here? Something that sends HTTP-requests to your api? But in this case you have a controller as a layer between that service and your state-machine, why not to deal with distribution there? I would vote for 1 & 3. For 4, that would be tedious to repeat nil everywhere, so I'm not sure. I think there is how it was in ol

[2016-04-05 10:50] pirj commented on #345
Can you please describe your use in more detail?
What do you mean by multi-tenant and thread safe exactly? What kind of failure scenarios are you experiencing with `workflow` and are trying to avoid?
Mind providing some scrambled failing code in isolation from the rest of your application like in [this example](https://gist.github.com/pirj/511e7ac40ced8c93b843)?

[2016-04-05 14:00] leonelgalan opened #347 "Warning when specifing states at ActiveRecord enum"
As @pirj [pointed out](https://github.com/aasm/aasm/pull/340#issuecomment-205490897), this is a common practice, detailed on the [README](https://github.com/aasm/aasm#activerecord-enums):

[code]

[code]

**Expected behavior** is for aasm to skip creating the "question marked" methods when they already exist, because `enum` created them.

[2016-04-05 15:11] mensfeld opened #348 "Inheritance issue for dynamic AR based classes"
Hello, I have a base AR class State:

[code]
that is a base class from which I will inherit. I use a concern like this:

[code]

to be able to "magically" define state machines without adding fields to proper models. This also allows me to add more than one state machine without them overwriting each other (namespace like):

[code]

I can do this for multiple models (not only one from the example)

[2016-04-08 10:45] volodymyr-h opened #349 "Reserved words for events"
I have run into the problem with wrong naming of an event  for `aasm`. Naming an event 'send' caused freezing of all model-related events (getting record/creating/etc.) done from console and rake task. No errors given so it was rather hard to find the reason. After renaming an event everything works as expected.
So maybe there should be listed any kind of list of the reserved words for aasm events

[2016-04-12 14:36] holyketzer commented on #347
+1 same issue.

Sorry but for which purpose these warnings are needed? I don't understand motivation of this change https://github.com/aasm/aasm/pull/340

[2016-04-12 17:48] pirj commented on #347
@holyketzer, [this test](https://github.com/aasm/aasm/blob/master/spec/unit/override_warning_spec.rb) might give you an idea why this was needed. Long story short, if you have a state `valid`, or even `lock`, it breaks Rails validation and pessimistic locking; if you have a boolean column `assigned` and a state `assigned`, it might became a nightmare using question mark method.

[2016-04-13 02:47] emclab commented on #345
Probably multi state machines in one class better describe what we are looking for. We are looking for workflow with ability to handle multi state machines (workflows) for on class and event is applied with state machine name. According to the menu, aasm does support multi state machine for one class.

[2016-04-13 02:47] #345 closed

[2016-04-13 02:52] emclab opened #350 "How many state machines (workflows) can be defined for one class?"
Here is the example of multi state machines :work and :move in one class in aasm. It is an interesting feature. My question is what's the max number of state machines which can be defined in one class?

  class SimpleMultipleExample
    include AASM
    aasm(:move) do
      state :standing, :initial => true
      state :walking
      state :running

    event :walk do
      transitions :from => :s

[2016-04-14 03:19] emclab opened #351 "How to check if current_state is an initial state?"
For initial state, it is marked as :initial => true. How to check if the current_state of @my_instance is initial state?

[2016-04-14 20:19] emclab opened #352 "Error when using eval to execute aasm block"
We put the whole `aasm` in string and `eval` it in `payment_request` class model. Here is the def:

    class PaymentRequest < :ActiveRecord::Base
      include AASM

      def self.load_wf_spec(wf_spec, wf_def_name)
         eval("aasm(:#{wf_def_name})  :column => 'wf_state' {#{wf_spec}}")
      end
    end

The error is:

     Failure/Error: eval("aasm(:#{wf_def_name})  :column => 'wf_state' {#{

[2016-04-15 00:03] emclab commented on #352
Here is the one works:

          eval("aasm(:#{wf_def_name}, :column => 'wf_state') {#{def_string}}")

[2016-04-15 00:03] #352 closed

[2016-04-27 10:36] neckhair opened #355 "Trigger events from a form"
I have a model which implements quite a large workflow. Each state transition has the same form with some default fields for the model. As far as I understood AASM's documentation the only way to trigger a proper status change (including all the guards, and callbacks an stuff) is to use the event methods. Just assigning the status via `model.update state: :new_state_name` is not enough (which is g

[2016-04-29 18:53] siong1987 opened #357 "is there a callback if a transition fails?"
i am poking around with the code to find a possible callback that i can use if a transition fails.

it seems like i could use `aasm_event_failed` for it but it gets triggered for all failed transition events.  that means that i need to implement the logic to check what the event fails and handle it accordingly.

unless i am missing something obvious in the code, can someone point me to it?

[2016-04-29 21:00] hspazio commented on #351
Hi @emclab
I was looking at the code and untortunately `object.aasm.current_state` returns a Symbol and there can't be any `initial?` methods on it.

IMO one simple solution could be having an INITIAL_STATE constant that you can use for comparison with `object.aasm.current_state`:
[code]
In other scenarios when for example you don't know upfront which will be the initial state of your machine (e.g

[2016-04-30 00:39] dudo opened #358 "Can you transition to a dynamic state?"
[code]

where `PENDING_DECLINED` is a string, and `previous_state` is a method?

[2016-04-30 02:27] emclab opened #359 "How to refer current instance in guard method?"
How to refer current instance in guard method?

The following seems not working:

     def cleaning_needed?
        return true if self.dog_walked
     end

In geekq/workflow, it allows a proc for a conditional event (with if) and it works well.

[2016-05-03 17:29] betoharres commented on #347
same here. +1
A warning that shouldn't be there?

[2016-05-07 03:48] TangMonk opened #360 "Define multiple state only once"
I am following Documentation:
![image](https://cloud.githubusercontent.com/assets/3498786/15090052/75c9d51e-1449-11e6-9080-f83dc728edc1.png)

My state:

[code]

but actually throw me error:

[code]

[2016-05-09 19:24] leonelgalan commented on #347
I'm not entirely sure how I missed this, but this was "fixed" on #346 and by setting `enum: true` as directed on the [README](https://github.com/aasm/aasm#activerecord-enums) the warning doesn't show. I have concerns with the solution but I'll post them on that PR's thread.

[2016-05-09 19:24] #347 closed

[2016-05-09 19:27] jonbcampos commented on #347
@leonelgalan you mean that it was missed and the warning will be fixed in the next release or should already work like that?

I ask cause I have the enum: true already set and am still seeing the warning

[2016-05-09 19:32] leonelgalan commented on #347
That's only because the PR I linked hasn't reach a released version, but it's fixed in the _master_ branch.

[2016-05-09 19:32] jonbcampos commented on #347
@leonelgalan good to know, thank you

[2016-05-10 02:19] TangMonk commented on #38
nest is better +1, but 4.5.1 is still

[2016-05-10 04:02] alto commented on #38
@TangMonk What do you mean?

[2016-05-10 07:29] TangMonk commented on #38
@alto , please look at following translation:

[code]

It will works, But the nest syntax is weird, the better is nested:

[code]

[2016-05-10 10:22] vinhboy commented on #241
I want to report this happens for the `after_all_transactions` and `after_all_transitions` as well.

I don't think this should be the expected behavior.

If a transition failed, it should not trigger the callbacks.

[2016-05-12 17:39] t3hk0d3 opened #361 "Config option to disable override warnings"
Method override warnings were remade in 4.10.0 and brought some painful experience:

[code]

Generally its good idea to inform developers about possible problems, but in my case it were made intentionally.

It would be a great thing to give developers opportunity to disable these warning globally or per-state machine, since they have great impact on developer psychic health, especially if you have

[2016-05-12 17:52] t3hk0d3 opened #362 "Transitions with same src and dst states do not respect guards"
Having two transitions in same event with same source and destination states, but different guards cause unexpected behavior (called first transition with matching src/dest states, disregarded guards).

Example:

[code]

Current workaround is to move guard logic into callback:

[code]

[2016-05-12 18:01] t3hk0d3 commented on #358
Transitions are computed at class loading stage.

Are you sure you need `finite-state machine`?

[2016-05-12 18:05] t3hk0d3 commented on #358
But you can specify target state:

[code]

[2016-05-12 18:49] t3hk0d3 commented on #357
What do you mean under "fails"? Raises exception?
There is ``error`` callback for event.

[code]

Unfortunately there is no such callback per-transition.

[2016-05-12 19:03] t3hk0d3 commented on #355
@neckhair
Probably not my business, but thats not great idea to invoke things dynamically based on form field.
It might create unimaginable security issues, and honestly smells bad.

At least use ``public_send``

Most straightforward, but secure solution:

[code]

However, straight anwser for you question  is ``aasm_fire_event``:

[code]

[2016-05-12 19:06] t3hk0d3 commented on #344
https://github.com/aasm/aasm/blob/275e2f8fa885fbecb07fcbd0376005885db9d0b0/lib/aasm/base.rb#L117

[2016-05-12 19:10] t3hk0d3 commented on #359
Strange, it works for me.

[code]

[2016-05-12 19:13] t3hk0d3 commented on #349
Make sure you are using lastest version (4.10.0).

There is warning produced when overriding existing method.

[2016-05-12 19:16] t3hk0d3 commented on #360
Make sure you are using lastest version.
Documentation is made for ``4.10``, yours is ``4.5.1``

[2016-05-12 19:27] t3hk0d3 commented on #350
Yes.

Yes.

As much as your RAM let you.

[2016-05-12 19:32] t3hk0d3 commented on #351
@emclab @hspazio

[code]

[2016-05-12 21:00] siong1987 commented on #357
@t3hk0d3 for example, when a state isn't supposed to be transitioned to another state.

`on_error` seems to only work for exception.

[2016-05-12 21:18] t3hk0d3 commented on #357
@siong1987 I might be wrong, but looks like ``on_error`` capture ``AASM::InvalidTransition`` as well.

[2016-05-13 00:17] siong1987 commented on #357
yeah, but not when `whiny_transitions` is set to false :(

[2016-05-13 00:59] TangMonk commented on #360
Sorry, my problem...

[2016-05-13 00:59] #360 closed

[2016-05-13 10:31] t3hk0d3 commented on #357
@siong1987 Well you can mess around on higher-level, and perform ``may_<event>?`` manually. It would be effective workaround imho.

[2016-05-13 12:55] hspazio commented on #351
@t3hk0d3 where is the `initial_state` method defined? It does not exist in InstanceBase class. In fact I was already working on a PR to define it.
[code]

[2016-05-13 15:51] t3hk0d3 commented on #351
@hspazio Oh, sorry, my bad:
[code]

[2016-05-13 16:03] hspazio commented on #351
@t3hk0d3  Ah cool! thank you!

[2016-05-13 16:07] t3hk0d3 commented on #351
@hspazio But that won't work in case of Proc initial state:

[code]

Probably it would be a good idea to add following methods:

[code]

Maybe i'll consider making PR for this.

[2016-05-13 16:14] t3hk0d3 commented on #331
@bahbbc
Just override these methods - `aasm_read_state`, `aasm_write_state`, `aasm_write_state_without_persistence`

Example:

[code]

[2016-05-13 17:08] bahbbc commented on #331
My solution was like @pirj suggested, since the object with aasm gem does not associate the states to an attribute. I made the initialization by myself, like this, the spec that I mentioned before will work.

I made it like that:
[code]
@t3hk0d3 I am not sure if your suggestion solves the initialization problem.

[2016-05-13 20:01] siong1987 commented on #357
@t3hk0d3 yeah, understand the workaround.  but just feel like it should be a callback that should happen.

[2016-05-14 22:40] hspazio commented on #351
@t3hk0d3 That's interesting! I believe in that case we'd need to define `initial_state` and `initial_state?` methods into `AASM::InstanceBase` class, right?
It shouldn't be hard. Would you like me to look into it?

[2016-05-16 01:16] TrevorHinesley opened #365 "Scopes no longer working if states are defined as a series of symbols"
In 4.10.0. For instance:

[code]

Will only have `Model.uploaded` and I believe `Model.tagging_in_progress`, but using `Model.approved` or something doesn't work. Changing to this works:

[code]

[2016-05-16 23:11] Wildebeest commented on #262
@alto I took a crack at implementing this, since this behavior was unexpected to us as well. Would you mind taking a look at letting me know what you think?

[2016-05-17 19:13] alextaylor000 commented on #361
This looks like it could be at least partially related to #346. I'm using AASM with an enum column, and I found I was getting "overriding method" errors for a bunch of question-mark methods until I explicitly set `enum: true`:

[code]

[2016-05-17 22:59] t3hk0d3 commented on #361
@alextaylor000 I am not using AASM in ActiveRecord class at all. ``enum: true`` won't help me.

[2016-05-18 14:39] pirj commented on #331
@bahbbc , cool that it worked! Do you mind closing the issue then?

[2016-05-18 15:31] #331 closed

[2016-05-24 12:08] sas1ni69 opened #368 "Skip validation on specific event"
Hi @alto

I had a use case where it would've been great if I could skip validation only on one specific event. I looked into the gem and I noticed the config is tightly coupled with the machine config.

How would you approach trying to make this change? Even if it's just in my own fork? What's a reusable, good way?

Thanks!

[2016-05-26 22:35] dcosson opened #371 "Transition callbacks"
Looking at the callback orderings, it seems that transition callbacks are pretty inconsistent with event callbacks.

Event goes: before -> guards -> success -> after -> after_all_events

But Transition goes: guards -> after_all_transitions -> after -> success

It's seems logical that an `after_all` should come after `after`, and it seems potentially dangerous that `after` and `after_all` are both

[2016-05-27 21:50] lamtha opened #372 "Multiple Transitions with guards and after execute wrong callback"
event :go  do
  transitions from: [:a,:b], to: :c, :guard => :returnsfalse, after: :this_gets_executed
  transitions from: [:d,:e], to: :c, :guard => :returnstrue,  after: :this_doesnt_execute
end

Removing the second transition raises:

InvalidTransition Failed callback(s): [:returnsfalse]

[2016-05-29 18:19] chrisyeung1121 opened #373 "How to store previous state for multiple states"
In a simple example, let's say we have a user state like the following:
[code]
Looking at the `AASM::InstanceBase`. Only `state_from`, `state_to`, and `current_event` is accessible. I think it also make sense to allow access to `name`. What do you think?

[2016-05-30 20:13] youroff opened #374 "Retrieving permitted events mutates `from_state` and `to_state`"
I have an issue with using introspection in callbacks. After calling `object.aasm.events(permitted: true).map(&:name)`, I observe that `from_state` and `to_state` are being set to some of tested pairs. Is that desired behavior or bug?

[2016-06-02 17:27] #323 closed

[2016-06-03 21:29] pirj opened #376 "`transition_from` test helper adds risk of false positives"
[code]

[2016-06-06 21:01] dudo commented on #358
Noted! I glossed over the passing of state. Thanks!

[2016-06-06 21:01] #358 closed

[2016-06-06 21:03] dudo opened #377 ":before callback"
`event :run, :before => :do_something`

That doesn't work... Seems I have to use `before_enter` on the actual state. Another gotcha is when running the before_enter method, if I have a `self.foo = 'bar'`, `foo` is not being set. I need to explicitly call `self.save`. I don't love that.

Thoughts?

[2016-06-19 06:38] alto commented on #262
I just released version `4.11.0` including #366 .

[2016-06-20 06:35] PragTob commented on #262
should this be closed now or will it be closed with 5.0 then?

Thanks @Wildebeest and @alto !

[2016-06-20 10:24] alto commented on #262
@PragTob This one can be closed. I somehow expected it to be closed automatically after merging #366.

[2016-06-20 10:24] #262 closed

[2016-06-24 14:57] asmega commented on #372
are you saying this code raises the exception?
[code]

[2016-06-24 15:23] lamtha commented on #372
Yes

[2016-06-24 15:30] asmega commented on #372
your guard is returning false which prevents the transition from happening. there are no other possible transitions hence it raises the error. this is expected behaviour

[2016-06-24 15:36] lamtha commented on #372
Agreed, for the code you created, the behavior is correct.

For my sample code, the wrong after method gets executed (the state transition works).

[2016-06-27 17:09] Ashviniv commented on #371
@dcosson I agree with you. One solution I would suggest you, is to fork the repo. and change the order of two lines in the [`lib/aasm/core/transition.rb`](https://github.com/Ashviniv/aasm/blob/e047f95f4c5e0e9e17ca410bedc5a92a203d097b/lib/aasm/core/transition.rb#L36)  and use the code, which will execute `after transition` first and then 'after_all_transitions'
I would like to send a pull request I

[2016-06-27 17:43] dcosson commented on #371
Cool, that would be sweet if you have time for a PR. For now I'm just abusing guards to get a callback that fires after_all_transitions.

[2016-06-28 15:13] asmega commented on #372
below is a full example on the latest version

[code]

the state transition doesn't work which is expected. and no callback is called as expected.

[2016-06-28 15:57] Ashviniv commented on #371
@dcosson Submitted a PR #379.

[2016-06-29 13:21] taintedzodiac commented on #376
Not entirely sure what the issue is here. Are you saying that the false positive is that you want to test that there are exactly zero transitions allowing the model to go from `:a` to `:b`?

[2016-07-07 22:55] JasonPoll opened #381 "initial state will not fire before_enter, enter, or after_enter callbacks if database column has a default value."
Possible bug?

I think the _[Column name & migration](https://github.com/aasm/aasm#column-name--migration)_ and _[Callbacks](https://github.com/aasm/aasm#callbacks)_ sections of the documentation should explain that if the database colum which backs your ActiveRecord model's AASM column defines a default value at the database level, any AASM callbacks on the initial state will not be fired upon in

[2016-07-11 12:44] tamaloa opened #382 "'rails generate aasm MODEL' broken"
With current rails 4.2 and aasm 4.2.0 in a fresh application

    ~aasm_test$ rails generate aasm User
    Running via Spring preloader in process 23135
    Could not find generator 'aasm'. Maybe you meant 'task', 'assets' or 'job'
    Run `rails generate --help` for more options.

[2016-07-11 13:17] anilmaurya commented on #382
Duplicate #328

Can you test with version > `4.9.0`

[2016-07-11 14:21] tamaloa commented on #382
Sorry, thought i had the most recent aasm version - newer one works :)

[2016-07-11 14:21] #382 closed

[2016-07-14 13:06] jmcnevin opened #383 "Failures array in transition not being reset."
I'm wondering if anyone else has run into this issue with AASM 4.11 and Rspec.  I'm not sure if it relates to using `let` to define variables in specs.

As my specs run, I start to see failures in state transitions that worked in AASM 4.7, and the list of failures seems to compound with each spec run.  Example:

[code]

I have a feeling this is related to storing the failures in an instance variab

[2016-07-14 16:56] jmcnevin commented on #383
Still having problems with this.

[2016-07-15 12:21] jmcnevin commented on #383
Attempted to fix this in my PR, but I'm still not following what's happening here:

[code]

It appears some state is still being persisted between transition attempts/queries, but I'm having a tough time tracking down where this is happening.

[2016-07-25 16:52] mjgreer commented on #211
I am having the same issue, but your suggestion does seem to work.  I get
`NoMethodError: undefined method `[]' for AASM::StateMachine:Class`

[2016-07-27 05:18] atruskie commented on #324
I'm still new to AASM but I have just been bitten by `to_state` being ignored in this code [event.rb#L124](https://github.com/aasm/aasm/blob/0dd67f654343fd39498388e8e4615ceb2dadea0c/lib/aasm/core/event.rb#L124).

Similar to @hugueslamy, the first argument I passed to the event (`to_state`) was not  a valid to state for the event and the first transition succeeded. I expected an `InvalidTransition`

[2016-07-27 16:33] froske opened #388 "Permissible states not respecting guard parameters"
I understand calling for permissible states works with guards (ref issue #54), but I can't get it to work when my guard has a parameter.  It seems like it's not getting passed to the guard (only when I call for permissible states.

Example:

[code]

[code]

but the guard works in other instances with a parameter, like when I actually try to change the state.

[code]

If I do a `puts usr.inspect` i

[2016-08-03 03:35] WaKeMaTTa opened #391 "AASM don't pass arguments to guard"
[code]

[code]

Needs to be true, i inspected and i found AASM don't pass argument `@banana` to method `has_launch?`

[2016-08-03 07:19] anilmaurya commented on #391
@WaKeMaTTa Can you check this on latest release i.e `4.11.0`. I checked on `4.11.0` and passing arguments to guards works for `may_*events` methods

[2016-08-03 11:27] WaKeMaTTa commented on #391
@anilmaurya Ah! okey i was using `event` and `event!` methods.

[2016-08-03 17:58] lserman opened #392 "Multiple transition behavior is broken when one of the transitions does not have a "from" parameter"
I want to allow administrators to transition a record to any state. Based on the documentation for "multiple transitions" I thought I could do something like this:

[code]

The `AASM::Core::Event#_fire` ends up checking the "from" states if *any* transitions define it, canceling out the behavior that omitting the "from" argument should allow a transition from any state:

[code]

The workaround is

[2016-08-10 19:08] anuj-verma commented on #377
I have executed `event :run, :before => :do_something`. It works correctly in my case. You can write callbacks on both event and state. The only catch is how cleverly you use them.
Can you please tell me what error you are getting ?

By writing `self.foo = 'bar'` in your callback method, you are only setting the value of foo. You have to explicitly save it.

[2016-08-11 13:13] prem-prakash opened #393 "Memory leak / infinite loop using two related ActiveRecord models with aasm"
When create using ModelTwo it freezes rails and consume all memory of the system

[code]

[code]

[code]

[2016-08-11 18:08] shishirsharma commented on #255
Can we use some kind of hook or lambda for selecting one of these to state.  This way we could club state selection process in our aasm code.

[2016-08-12 13:47] evheny0 commented on #365
I have the same issue. As I can see in
[code]
the rest of states names, passed to #state method, are just ignored.

[2016-08-13 09:13] chrisyeung1121 commented on #229
Is this still an issue?

[2016-08-15 20:25] joerodrig3 opened #394 "Rspec ArgumentError when passing parameters to event"
I'm running into an issue where passing parameters into an AASM event from my controller produces an argument error.

The error is produced from the example code below:
[code]

Error produced:
[code]

I've checked through the [parameterized event code](https://github.com/aasm/aasm/blob/master/spec/models/parametrised_event_multiple.rb#L16) and the accompanying [specs](https://github.com/aasm/aasm/

[2016-08-16 17:46] joerodrig3 commented on #394
I've been able to work around this issue by doing:
[code]

I'm still unsure why RSpec isn't working with the original code though

[2016-08-19 18:24] joerodrig3 commented on #394
It turns out the missing piece to this puzzle was that we had another event in our model:
[code]

The `update_github_status` event doesn't expect any parameters to be passed in, so that was causing the error above.
I was able to resolve this by just doing:

[code]

[2016-08-19 18:24] #394 closed

[2016-08-22 07:58] anilmaurya commented on #388
Fixed with #389

[2016-08-22 07:58] #388 closed

[2016-08-22 08:00] anilmaurya commented on #391
@WaKeMaTTa If its not issue anymore than can you close this issue ?

[2016-08-22 08:20] #391 closed

[2016-08-23 08:10] anilmaurya commented on #303
Thank you @carvil for reporting this bug.

Closing this issue, now AASM is using `define_method` (https://github.com/aasm/aasm/blob/master/lib/aasm/base.rb#L214) .

[2016-08-23 08:10] #303 closed

[2016-08-26 11:09] maqicheng commented on #324
aa

[2016-08-27 14:02] anilmaurya commented on #377
@dudo

Event callbacks is working as expected (https://github.com/aasm/aasm/blob/master/spec/unit/callbacks_spec.rb#L73).

If you are doing `self.foo = 'bar'` in `before` callback and you `foo` to set after event transition then you call `run!`.  `run!` will call `save` on `self` therefore persisting your `before` callback changes.

If you want to update attributes in `after` callback than you can

[2016-08-27 14:02] #377 closed

[2016-08-30 18:04] anilmaurya commented on #359
@emclab I checked on recent AASM release and its working as mentioned by @t3hk0d3 .

@t3hk0d3 Thank you for your help . ♡

I am closing this issue, @emclab feel free to reopen if you are still facing this issue.

[2016-08-30 18:04] #359 closed

[2016-09-05 20:17] anilmaurya commented on #393
@prem-prakash Thank you for reporting this issue.

I investigated and found that

[code]

is causing this issue.

@alto while looking at AASM codebase I saw that you already fixed similar issue in https://github.com/aasm/aasm/commit/239b536fe038fa640c6d8b214dd1754eb5e91958 .

Your fix is working for simple ruby class object but it does not work for Active Record .

I think AASM events should not o

[2016-09-06 14:12] prem-prakash commented on #393
I figured out the problem, thanks @anilmaurya

[2016-09-06 15:01] anilmaurya commented on #392
@lserman

Can you mention which version of AASM you are using, I checked on latest version and its working.

Our specs for Transition without `from` state is passing.
Have a look at:

https://github.com/aasm/aasm/blob/master/spec/models/silencer.rb#L23

https://github.com/aasm/aasm/blob/master/spec/unit/transition_spec.rb#L30

BTW your guards syntax `if: :admin_override?` is not AASM recommended.

[2016-09-06 15:20] lserman commented on #392
@anilmaurya that spec does not test the functionality I'm talking about. I pasted the offending code (the stuff from `_fire` method). The code checks if *any* transition on the event defines a `from` parameter and then sets the transitions variable to only the transitions where `from` is the current state. If one transition defines `from` and another does not, the one that does not is excluded fro